<div class="grid-container">
    <div class="sidebarlist" [class.sidebar_small]="selectedAuto">
        <div class="card card-2 card-accent-primary">
            <div class="d-flex align-items-center p-2  border-bottom">
                <input type="text" class="form-control form-control-sm" name="term" placeholder="recherche" [(ngModel)]="dataHelper.searchTerm" required aria-label="Batiment" aria-describedby="basic-addon2">
                <button class="btn btn-link" (click)="onChangeView('card')">
                    <span class="tx-primary">
                        <i
                        class="fad fa-th card-1 tx-16"
                        [ngClass]="
                            view == 'card' ? 'bg-primary text-white' : 'text-primary bg-white'
                        "
                        style="padding: 6px; border-radius: 50%"
                        ></i>
                    </span>
                    </button>
                    <button class="btn btn-link" (click)="onChangeView('list')">
                    <span class="tx-primary">
                        <i
                        class="fad fa-list card-1 tx-16"
                        [ngClass]="
                            view == 'list' ? 'bg-primary text-white' : 'text-primary bg-white'
                        "
                        style="padding: 6px; border-radius: 50%"
                        ></i>
                    </span>
                </button>
            </div>
            <div class="card-body p-0" [class.loading]="dataHelper.loading$ | async" *ngIf="view == 'list'; else cardView">
                <div class="table-responsive" *ngIf="dataHelper.data$ | async as items" >
                    <table class="table table-hover text-nowrap mb-0" *ngIf="items.length; else noItem">
                        <thead class="tx-10 tx-uppercase">
                            <tr>
                                <th scope="col">Vehicule</th>
                                <th scope="col">Etat</th>
                                <th scope="col">Disponibilite</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let automobile of items;trackBy: dataHelper.trackByFn">
                                <td>
                                    <i class="fal fa-dot-circle fa-lg " [style.color]="automobile.etat ? automobile.etat.couleur : '' "></i>  {{automobile.libelle}}
                                </td>
                                <td>
                                    <div ngbDropdown container="body" class="d-inline-block">
                                        <button type="button" class="btn btn-sm btn-outline-default" [style.color]="getTextColor(automobile.etat ? automobile.etat.couleur : '')" [style.background-color]="automobile.etat ? automobile.etat.couleur : ''" ngbDropdownToggle> {{automobile.etat ? automobile.etat.libelle : automobile.etat_achat}} </button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                            <button *ngFor="let etat of (allEtatAutomobiles$|async);" (click)="onUpdateEtat(automobile,etat)" ngbDropdownItem> <i class="fal fa-dot-circle" [style.color]="etat.couleur"></i>  {{etat.libelle}}</button>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-success">
                                    Disponible
                                </td>
                                <td>
                                    <a class="table-action cursor-pointer  mr-2" (click)="onSelectAuto(automobile)"><i class="fal fa-search tx-second "></i></a>
                                    <a class="table-action cursor-pointer mr-2 " container="body" [ngbTooltip]="'Modifier'"  (click)="onShowUpdateForm(automobile) "><i class="fal fa-edit tx-second "></i></a>
                                    <a class="table-action cursor-pointer mr-2 "  container="body" [ngbTooltip]="'Copier'" (click)="onShowCreateForm(automobile) "><i class="fal fa-clone tx-second "></i></a>
                                    <a class="table-action cursor-pointer mr-2 "  container="body" [ngbTooltip]="'Supprimer'" (click)="onDelete(automobile) "><i class="fal fa-times-square tx-second "></i></a>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <section *ngIf="dataHelper.hasMoreData " [fromRoot]="true" infiniteScroll [infiniteScrollDistance]="2 " [infiniteScrollThrottle]="50 " (scrolled)="dataHelper.loadData() ">
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content2 scroll-11 " [class.main-content_large]="selectedAuto">
        <div class="card shadow mb-2 p-0" *ngIf="selectedAuto">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-2 d-flex justify-content-between align-items-center text-center">
                <span class="d-flex align-items-center">
                    <button class="btn btn-link  mr-3" [routerLink]="['./']">
                        <i class="fad fa-arrow-alt-left bg-light tx-success card-1"
                            style="padding:6px; border-radius:50%"></i>
                    </button>
                  
                    <h6 class="m-0 font-weight-bold text-secondary text-center">
                        {{selectedAuto.libelle}} 
                    </h6>    
                </span>
                <div ngbDropdown container="body" class="d-inline-block">
                    <button type="button" class="btn btn-sm btn-outline-default" [style.color]="getTextColor(selectedAuto.etat ? selectedAuto.etat.couleur : '')" [style.background-color]="selectedAuto.etat ? selectedAuto.etat.couleur : ''" ngbDropdownToggle> {{selectedAuto.etat ? selectedAuto.etat.libelle : selectedAuto.etat_achat}} </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button *ngFor="let etat of (allEtatAutomobiles$|async);" (click)="onUpdateEtat(selectedAuto,etat)" ngbDropdownItem> <i class="fal fa-dot-circle" [style.color]="etat.couleur"></i>  {{etat.libelle}}</button>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body p-1 pb-3">
                <div class="d-flex clearfix  mg-0 pd-0">
                    <div class="col-lg-2 p-0 " style="background:#f4f8f9; height:100vh ">
                        <nav class="monmenu nav flex-column  ">
                            <a [routerLink]="['./', selectedAuto.id]" [fragment]="'details'"
                                [class.bg-white]="fragment == 'details'"
                                class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                                <a class="nav-link3 mx-2 tx-echos"><i
                                        class="fal fa-info-circle tx-16  mr-2"></i> Détails</a>
                            </a>
                            <a [routerLink]="['./', selectedAuto.id]" [fragment]="'mission'"
                                [class.bg-white]="fragment == 'mission'"
                                class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                                <a class="nav-link3 mx-2 tx-echos"><i class="fal fa-hiking tx-16  mr-2"></i>
                                    Missions</a>
                            </a>
                            <a [routerLink]="['./', selectedAuto.id]" [fragment]="'visite'"
                                [class.bg-white]="fragment == 'visite'"
                                class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                                <a class="nav-link3 mx-2 tx-echos"><i class="fal fa-car-mechanic tx-16  mr-2"></i>
                                    Visite Technique</a>
                            </a>
                            <a [routerLink]="['./', selectedAuto.id]" [fragment]="'assurance'"
                                [class.bg-white]="fragment == 'assurance'"
                                class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                                <a class="nav-link3 mx-2 tx-echos"><i class="fal fa-car-crash tx-16  mr-2"></i>
                                    Assurance</a>
                            </a>
                            <a [routerLink]="['./', selectedAuto.id]" [fragment]="'panne'"
                                [class.bg-white]="fragment == 'panne'"
                                class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                                <a class="nav-link3 mx-2 tx-echos"><i class="fal fa-car-garage tx-16  mr-2"></i>
                                    Panne</a>
                            </a>
                            <a [routerLink]="['./', selectedAuto.id]" [fragment]="'calendrier'"
                                [class.bg-white]="fragment == 'calendrier'"
                                class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                                <a class="nav-link3 mx-2 tx-echos"><i class="fal fa-calendar tx-16  mr-2"></i>
                                    Calendrier</a>
                            </a>
                        </nav>
                    </div>
    
                    <div class="col-lg-10">
                        <div [ngSwitch]="fragment">
                            <div *ngSwitchCase="'mission'">
                                <div class="table-responsive" [class.loading]="loading_missions">
                                    <table class="table table-hover text-nowrap" *ngIf="missions">
                                        <thead class="tx-10 tx-uppercase">
                                            <tr>
                                                <th>Mission</th>
                                                <th>Localite</th>
                                                <th>Departement</th>
                                                <th>Date</th>
                                                <th>Note</th>
                                                <th>Budget</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="missions?.length; else noItem">
                                            <tr *ngFor="let mission of missions" [routerLink]="'/mission/details/'+mission?.id+'/tab/default'" class="handMe">
                                                <td>
                                                    <a 
                                                        class="my-0 mt-1 text-primary">{{(mission.name.length>30)? (mission.name | slice:0:30)+'..':(mission.name)}}</a>
                                                    <p class="tx-12 mb-0">
                                                        {{mission?.type?.name}}
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="my-0 font-weight-bold">{{mission?.ville.name}}</p>
                                                    <p>{{mission?.ville.pay.name}}</p>
                                                </td>
                                                <td>
                                                    {{mission?.departement.name}}
                                                </td>
                                                <td>{{mission.start | date:'d MMM y'}} - {{mission.end | date:'d MMM y'}}</td>
                                                <td>{{mission.avg_note ? mission.avg_note : 'Aucune note'}}</td>
                                                <td>
                                                    {{mission.total_budget}} 
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div *ngSwitchCase="'panne'">
                                <app-panne-automobile [automobileId]="selectedAuto.id"></app-panne-automobile>
                            </div>
                            <div *ngSwitchCase="'visite'">
                                <app-visite-technique [automobileId]="selectedAuto.id"></app-visite-technique>
                            </div>
                            <div *ngSwitchCase="'assurance'">
                                <app-assurance [automobileId]="selectedAuto.id"></app-assurance>
                            </div>
                            
                            <div *ngSwitchCase="'calendrier'">
                                <app-calendar-ui [eventParent]="{name: 'trans_auto', id: selectedAuto.id}"></app-calendar-ui>
                            </div>
                            <div *ngSwitchDefault>
                                <section class="py-2 col-md-11  d-block mx-auto">
                                    <img class="card-img mb-2" style="width: 100%;
                                    max-height: 20vw;
                                    object-fit: cover;" src="{{selectedAuto.image}}" [alt]="selectedAuto.libelle">
                                    <ul class="row pl-0 mb-0">
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">Acquisition: </span> {{selectedAuto.type_acquisition | titlecase}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">Montant: </span> {{selectedAuto.montant}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">Etat à l'acquisition: </span> {{selectedAuto.etat_achat | titlecase}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">Date de l'acquisition: </span> {{selectedAuto.date_achat | date: 'dd/MM/yyyy'}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">Kilometrage à l'acquisition: </span> {{selectedAuto.kilometrage_durant_achat}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">Immatriculation: </span> {{selectedAuto.immatriculation | titlecase}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">Numero chassis: </span> {{selectedAuto.numero_chassis}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">Serie: </span> {{selectedAuto.serie?.libelle | titlecase}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">Marque: </span> {{selectedAuto.marque?.libelle | titlecase}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">Modele: </span> {{selectedAuto.modele?.libelle | titlecase}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">Genre: </span> {{selectedAuto.genre?.libelle | titlecase}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">Carburant: </span> {{selectedAuto.type_carburant?.libelle | titlecase}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">Type: </span> {{selectedAuto.type_automobile?.libelle | titlecase}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">Nombre de places: </span> {{selectedAuto.nombre_place}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">Nombre de portes: </span> {{selectedAuto.nombre_porte}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">fournisseur: </span> {{selectedAuto.coordonnee?.libelle | titlecase}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">Transmission: </span> {{selectedAuto.type_transmission | titlecase}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">Emission CO2: </span> {{selectedAuto.emission_co2 | titlecase}}
                                            </p>
                                        </li>
                                        <li class="list-group-item p-0 border-0 col-md-6 col-12 font-weight-bold">
                                            <p class="formSep m-0"><span class="text-muted">Nombre de chevaux: </span> {{selectedAuto.nombre_chevaux}}
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADD -->
<div class="button-fixed-bottom-right" *ngIf="!selectedAuto">
    <button [disabled]="(dataHelper.loading$ | async)" (click)="onShowCreateForm();" title="Créer"  type="button"
      class="btn btn-primary btn-circle btn-lg">
      <i class="fas fa-plus-circle"></i>
    </button>
    <!-- <button *ngIf="currentView == 'add'" title="Fermer"
      (click)="addOrList(); setTitle('window', 'listMission'); removeItem()" type="button"
      class="btn btn-danger btn-circle btn-lg">
      <i class="fas fa-times"></i>
    </button> -->
</div>

<ng-template #noItem>
    <h5 class="text-center title m-2 p-5">
        {{ 'Aucun Element' }}
    </h5>
</ng-template>

<ng-template #cardView>
    <div [class.loading]="dataHelper.loading$ | async" 
        [scrollWindow]="false"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="checkData()"
        class="scrollable-y-75 scroll-11">
        <ng-container *ngIf="dataHelper.data$ | async as items">
            <div class="card-group justify-content-around p-2" *ngIf="items.length; else noItem">
                <div *ngFor="let automobile of items;trackBy:  dataHelper.trackByFn" class="menu flip-card mb-3 col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="image-flip-2" [class.hover]="false">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card card-1">
                                    <img class="card-img cursor-pointer" style="width: 100%;
                                    height: 15vw;
                                    object-fit: cover;" (click)="onSelectAuto(automobile)" src="{{automobile.image}}" [alt]="automobile.libelle">
                                    <div class="card-body">
                                        <h5 class="card-title">{{automobile.libelle | titlecase}}</h5>
                                        <h6 class="card-subtitle mb-2 text-success">Disponible</h6>
                                        <h6 class="card-subtitle mb-2 text-info" *ngIf="false">Visite technique</h6>
                                        <h6 class="card-subtitle mb-2 text-info" *ngIf="false">Mission</h6>
                                        <h6 class="card-subtitle mb-2 text-danger" *ngIf="false">Panne</h6>
                                        <div ngbDropdown container="body" class="d-inline-block">
                                            <button type="button" class="btn btn-sm btn-outline-default" [style.color]="getTextColor(automobile.etat ? automobile.etat.couleur : '')" [style.background-color]="automobile.etat ? automobile.etat.couleur : ''" ngbDropdownToggle> {{automobile.etat ? automobile.etat.libelle : automobile.etat_achat}} </button>
                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                <button *ngFor="let etat of (allEtatAutomobiles$|async);" (click)="onUpdateEtat(automobile,etat)" ngbDropdownItem> <i class="fal fa-dot-circle" [style.color]="etat.couleur"></i>  {{etat.libelle}}</button>
                                            </div>
                                        </div>
                                        <!-- <a class="card-link">
                                            Commander
                                        </a>
                                        <a (click)="onSelectAuto(automobile)" class="card-link">Details</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card card-1" (click)="onSelectAuto(automobile)">
                                    <h4 class="px-3 my-2">
                                        {{automobile.libelle}}
                                    </h4>
                                    <hr class="m-0">
                                    automobile
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</ng-template>