<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <app-sidebar></app-sidebar>
    </ul>
    <!-- End of Sidebar -->
  
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
  
      <!-- Main Content -->
      <div id="content">
  
        <!-- Topbar -->
        <app-header></app-header>
        <!-- End of Topbar -->
  
        <!-- Begin Page Content -->
        <div class="container-fluid">
  
          <!-- Page Heading -->
          <div class="row  mb-4">
            <h5 class="col-md-6 mb-0 text-gray-800">
              <i class="fas fa-fw fa-box"></i>
              <span>Logistique</span>
            </h5>
  
            <div class="col-md-6">
            </div>
          </div>
          <div class="row mb-4 animated slideInUp">
            <div class="col-md-12">
              <div class="d-sm-flex align-items-center justify-content-start bg-white shadow-sm pt-2 pb-2 subMenu">
                <a routerLink="/logistique/materiel"  routerLinkActive #materiel="routerLinkActive" [class.text-secondary]="!materiel.isActive"  class="d-none d-sm-inline-block mr-3 ml-3">
                  <i class="fas fa-film-alt"></i> Materiels
                </a>
                <a routerLink="/logistique/suivie" routerLinkActive #suivi="routerLinkActive" [class.text-secondary]="!suivi.isActive"  class="d-none d-sm-inline-block mr-3 ml-3">
                  <i class="fas fa-bell-on"></i> Suivi du matériel
                </a>
                <a routerLink="/logistique/besoin" routerLinkActive #besoin="routerLinkActive" [class.text-secondary]="!besoin.isActive"  class="d-none d-sm-inline-block mr-3 ml-3">
                    <i class="fas fa-image"></i> Besoins Matériels
                  </a>
                  <a routerLink="/logistique/inventaire" routerLinkActive #inventaire="routerLinkActive" [class.text-secondary]="!inventaire.isActive"  class="d-none d-sm-inline-block mr-3 ml-3">
                    <i class="fas fa-rss"></i> Inventaires
                  </a>
              </div>
            </div>
          </div>
        <router-outlet>
        </router-outlet>
        </div>
        <!-- /.container-fluid -->
  
      </div>
      <!-- End of Main Content -->
  
      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->
  
    </div>
    <!-- End of Content Wrapper -->
  
  </div>
  <!-- End of Page Wrapper -->
  

