<div class="modal-header bg-light ">
    <h5 class="modal-title title">{{title | capitalizeFirst}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
</div>
<ng-container *ngIf="editForm">
    <div class="modal-body tx-dark" [ngClass]="{'loading': isLoading}">
        <form class="custom-placeholder" [formGroup]="editForm">
            <div class="formSep form-group  d-flex justify-content-center pb-0  pt-3">
                <div class="col-10" [class.loading]="editForm.get('user_id').status === 'PENDING' || (dashService.loading$ | async)">
                    <label class="control-label" for="libelle">Affecter à</label>
                    <select class="form-control form-control-sm" mySelectFirstOption required name="user_id" [formControlName]="'user_id'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'user_id') , 'is-valid': isValid('user_id')}" required>
                  <ng-container *ngFor="let item of (allUsers$ | async)">
                      <option [ngValue]="item.id">{{item.nom}} {{item.prenom}}</option>
                  </ng-container>
                </select>
                    <div *ngIf="shouldShowRequiredError('user_id')" class="invalid-feedback">veillez choisir.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <label class="control-label" for="salle">Quantite</label>
                    <input type="number" class="form-control form-control-sm" required [formControlName]="'quantite'" [ngClass]="{'is-invalid': shouldShowRequiredError('quantite'), 'is-valid': isValid('quantite')}" name="quantite">
                    <div *ngIf="shouldShowRequiredError('quantite')" class="invalid-feedback">veillez saisir la quantite.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <label class="control-label" for="libelle">Date d'affectation</label>
                    <input class="form-control form-control-sm" name="dp" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker" [formControlName]="'date'" [ngClass]="{'is-invalid': shouldShowRequiredError('date'), 'is-valid': isValid('date')}" required>
                    <div *ngIf="shouldShowRequiredError('date')" class="invalid-feedback">veillez saisir la date.</div>
                </div>
            </div>
        </form>
    </div>
</ng-container>

<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary mr-3" (click)="onSubmit()" [disabled]="shouldDisableSubmit()">Enregistrer et Quitter</button>
    <button type="button" class="btn btn-sm btn-outline-primary" (click)="onSubmit(false)" [disabled]="shouldDisableSubmit()">Appliquer</button>
    <button type="button" class="btn btn-sm btn-link mr-3" (click)="ngOnInit()">réinitialiser</button>
</div>
