<div class="grid-container scrollable-y-75 scroll-11">
    <div class="sidebarlist" [class.sidebar_small]="selectedPanne">
        <div class="col-12 d-flex align-items-center">
            <input type="text" class="form-control form-control-sm" name="term" placeholder="recherche" [(ngModel)]="dataHelper.searchTerm" required aria-label="Batiment" aria-describedby="basic-addon2">
            <button [disabled]="(dataHelper.loading$ | async)" (click)="onShowCreateForm();" class="btn btn-oblong btn-primary bd-0 btn-icon mx-2 mg-t-5 mg-b-5">
                <i class="fal fa-plus-circle tx-14" ></i>
            </button>
        </div>
        <div class="table-responsive">
            <table class="table  table-hover table-sm mb-0 " [class.loading]="dataHelper.loading$ | async">
                <tbody>
                    <tr class="barder-0">
                        <th class="tx-orange tx-left tx-16 bg-jaunelight bd-b">Materiel</th>
                        <th class="tx-orange tx-left tx-16 bg-jaunelight bd-b">Type de Pannes</th>
                        <th class="tx-yeto2 tx-center tx-16 bg-bluelight">Quantité</th>
                        <th class="tx-yeto2 tx-center tx-16 bg-bluelight">Signalé le</th>
                        <th class="tx-yeto2 tx-center tx-16 bg-bluelight"> Niveau d'urgence</th>
                        <th class="tx-orange tx-center p-3 tx-16"> </th>
                    </tr>
                    <ng-container *ngIf="dataHelper.data$ | async as items">
                        <ng-container *ngIf="items.length; else noItem">
                            <ng-container *ngFor="let panne of items;trackBy: dataHelper.trackByFn">
                                <tr class=" bd-b">
                                    <td class=" ">
                                        <div>
                                            <p class="mg-0 tx-gray-600 tx-bolder"> {{panne.materiel.libelle | titlecase}}</p>
                                        </div>
                                    </td>
                                    <td class="bg-light">
                                        <span class=" tx-yeto3 tx-14 ">
                                          {{panne.libelle}}
                                        </span>
                                    </td>
                                    <td class="tx-center bg-white bd-r bd-white">
                                        <div>
                                            <p class="mg-0 tx-gray-600 tx-bolder"> {{panne.quantite}}</p>
                                        </div>
                                    </td>
                                    <td class="tx-center bg-white bd-r bd-white">
                                        <div>
                                            <p class="mg-0 tx-gray-600 tx-bolder"> {{panne.date | date: 'dd/MM/yyyy'}}</p>
                                        </div>
                                    </td>
                                    <td class="tx-center bg-white bd-r bd-white">
                                        <div>
                                            <p class="mg-0 text-{{panne.niveau?.couleur}} tx-bolder"> {{panne.niveau?.libelle}}</p>
                                        </div>
                                    </td>
                                    <td class=" tx-center ">
                                        <button class="btn btn-sm btn-link" (click)="onSetSelected(panne)"><i class="fad fa-info-circle tx-14 bg-gray tx-warning " style="padding:6px; border-radius:50%"></i></button>
                                        <button class="btn btn-sm btn-link  tx-gray-600 mx-1 tx-13" (click)="onShowUpdateForm(panne)"> <i class="fal fa-edit" ></i> </button>
                                        <button class="btn btn-sm btn-link btn-link-danger tx-gray-600 tx-13" (click)="onDelete(panne)"> <i class="fal fa-trash-alt" ></i></button>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <div class="main-content scroll-11" [class.main-content_large]="selectedPanne">
        <ng-container *ngIf="selectedPanne">
            <div class="d-flex border-bottom sticky-top bg-white">
                <button class="btn btn-sm btn-link" (click)="onSetSelected()">
                  <i class="fal fa-2x fa-arrow-circle-left"></i>
                </button>
                <span class="flex-1 tx-facebook tx-24">{{selectedPanne.materiel.libelle | titlecase}}: {{selectedPanne.libelle}}</span>
                <button [disabled]="(dataHelper.loading$ | async)" (click)="onShowCreateAffectationForm();" class="btn btn-sm  btn-primary card-1 bd-0 btn-icon mx-2 mg-t-5 mg-b-5">
                  Ajouter <i class="fal fa-plus-square" ></i>
                </button>
            </div>
            <div class="table-responsive" [class.loading]="pannePersonneHelper.loading$ | async">
                <table class="table  table-hover table-sm mb-0 ">
                    <tbody>
                        <tr class=" mg-b-20">
                            <th class="tx-yeto2 tx-16 bg-greenlight"> Affectés à</th>
                            <th class="tx-yeto2  tx-16 bg-greenlight bd-r bd-white">Date sortie</th>
                            <th class="tx-yeto2  tx-16 bg-bluelight">Date retour</th>
                            <th class="tx-orange tx-center tx-16">Etats </th>
                            <th class="tx-yeto2 tx-16 bg-greenlight"> Fournisseur</th>
                            <th class="tx-orange tx-center tx-16"></th>
                        </tr>
                        <ng-container *ngIf="pannePersonneHelper.data$ | async as items">
                            <ng-container *ngIf="items.length; else noItem">
                                <tr *ngFor="let affectation of items;trackBy: pannePersonneHelper.trackByFn">
                                    <td class=" tx-center ">
                                        <div class="d-flex flex-row  mg-t-6">
                                            <div class="profiles">
                                                <img class="rounded-circle" src="assets/images/avatar-placeholder.png" alt="avatar" width="30">
                                            </div>
                                            {{affectation.user.libelle}}
                                        </div>
                                    </td>
                                    <td class=" bd-b bg-light">
                                        <span class=" tx-danger tx-14"> {{affectation.date_sortie | date: 'dd/MM/yyyy'}} </span>
                                    </td>
                                    <td class=" bd-b bg-light">
                                        <span class=" tx-success-100 tx-14"> {{affectation.date_retour | date: 'dd/MM/yyyy'}} </span>
                                    </td>
                                    <td class=" bd-b bg-light">
                                        <span *ngIf="affectation.etat" class=" tx-{{affectation.etat.couleur}} tx-14"> {{affectation.etat.libelle}} </span>
                                    </td>
                                    <td class=" tx-center ">
                                        <div class="d-flex flex-row  mg-t-6">
                                            <div class="profiles">
                                                <img class="rounded-circle" src="assets/images/avatar-placeholder.png" alt="avatar" width="30">
                                            </div>
                                            {{affectation.fournisseur.libelle}}
                                        </div>
                                    </td>
                                    <td class=" tx-center ">
                                        <button class="btn btn-sm btn-link  tx-gray-600 tx-13" (click)="onShowUpdateAffectationForm(affectation)"> <i class="fal fa-edit" ></i> </button>
                                        <button class="btn btn-sm btn-link btn-link-danger tx-gray-600 tx-13" (click)="onDeleteAffectation(affectation)"> <i class="fal fa-trash-alt" ></i></button>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>


                    </tbody>
                </table>
            </div>
        </ng-container>
    </div>
</div>



<ng-template #noItem>
    <tr>
        <td colspan="6">
            <h5 class="text-center title m-2 p-5" *ngIf="!(dataHelper.loading$ | async)">
                {{ 'Aucun Element' }}
            </h5>
        </td>
    </tr>
</ng-template>
