<div class="modal-header bg-light  p-1">
    <h5 class="modal-title title">{{name | titlecase}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="onCloseModal('Cross click')">
        <span aria-hidden="true"><i class="icon-close"></i></span>
    </button>
</div>
<div class="modal-body p-0 scroll-11">
    <div class="row row-xs justify-content-between  mg-0 pd-0  pt-1  " style="background: #f5f5f4;">

        <div class="col-lg-7">
            <div class="input-group ">
                <input type="text" class="form-control  border-0 " style="background: #f5f5f4;" placeholder="Recherches..." [(ngModel)]="CoordonneeHelper.searchTerm">
            </div>
        </div>

        <div class="col-lg-5 ">
            <ul class="nav float-right list-inline justify-content-end">
                <li class="nav-item ">
                    <button class="btn btn-link" container="body" [ngbTooltip]="'Vue carte'" (click)="onChangeView('card')">
                        <span class="tx-echos">
                         <i class="fad fa-th card-1  tx-16" [ngClass]="view == 'card' ? 'bg-echos tx-white' : 'tx-echos bg-white'" style="padding:6px; border-radius:50%"></i>
                        </span>
                    </button>
                </li>
                <li class="nav-item ">
                    <button class="btn btn-link" container="body" [ngbTooltip]="'Vue liste'" (click)="onChangeView('list')">
                        <span class="tx-echos">
                            <i class="fad fa-list card-1 tx-16 " [ngClass]="view == 'list' ? 'bg-echos tx-white' : 'tx-echos bg-white' " style="padding:6px; border-radius:50%"></i>
                        </span>
                    </button>
                </li>
            </ul>
        </div>

      </div>
    <div *ngIf="view == 'card'; else listView ">
        <div [scrollWindow]="false" infiniteScroll (scrolled)="CoordonneeHelper.checkData()"
            class="d-flex scrollable-y-75 justify-content-center flex-wrap  mg-l-0 mg-r-0">
            <ng-container *ngIf="CoordonneeHelper.data$ | async as items">
                <ng-container *ngIf="items.length; else ((!(CoordonneeHelper.loading$ | async)) && true ? noItem : loading)">
                    <div class="col-xl-4 col-sm-6" [@flyInOut]="'in'"
                        *ngFor="let coordonnee of items;trackBy: CoordonneeHelper.trackByFn">
                        <div class="mycard4 card-profile-1 mb-3">
                            <a class="card-body tx-center p-0" [class.info]="hasSelectedCoordonnee(coordonnee)" (click)="toggleSelectedItem(coordonnee)">
                                <div class="mx-auto my-2 avatar-md">
                                    <div class="avatar-title bg-soft-primary text-primary display-6 m-0 rounded-circle"><i class="fas fa-3x fa-user-circle"></i></div>
                                </div>
                                <h6 class="m-0 tx-primary">{{coordonnee.libelle}}
                                </h6>
                                <p class="text-muted mb-0"><i class="fas fa-phone tx-15 align-middle pe-2 text-primary"></i> {{coordonnee.telephone}} </p>
                                <p class="text-muted mb-0"><i class="fas fa-at tx-15 align-middle pe-2 text-primary"></i> {{coordonnee.email}} </p>
                                <div class="p-2 tx-echos tx-center bg-soft-primary">
                                    <span class="badge badge-primary mx-1 card-2" *ngFor="let tag of coordonnee.tag.split(',')"> {{tag | titlecase}} </span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <ng-container *ngIf="CoordonneeHelper.loading$ | async">
                        <ng-container *ngTemplateOutlet="loading"></ng-container>
                    </ng-container>
                    <ng-container *ngTemplateOutlet="loadMore"></ng-container>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <div class="col-12 d-flex flex-row flex-nowrap scroll-11" style="overflow-x: auto;"
        *ngIf="selectedItem && selectedItem.length">
        <button class="btn btn-oblong btn-sm d-flex align-items-center card-1 btn-outline-primary m-2"
            *ngFor="let coordonnee of (selectedItem | convertToArray)" (click)="toggleSelectedItem(coordonnee)">
            <i container="body" [ngbTooltip]="coordonnee.libelle"
                class="fad fa-user-circle fa-2x"></i>
               <span class="tx-14 mx-2">{{coordonnee.libelle}}</span> 
            <i class="fal fa-times"></i>
        </button>
    </div>
</div>

<div class="modal-footer p-0">
    <button type="button" class="btn btn-sm btn-primary"
        (click)="onEmitChoosenItem();activeModal.close('Close click')">Valider</button>
    <button type="button" class="btn btn-sm btn-outline-primary"
        (click)="activeModal.close('Close click')">Fermer</button>
    <button type="button" class="btn btn-sm btn-link" *ngIf="createModal" (click)="onShowCreateForm()">Ajouter</button>
</div>



<ng-template #noItem>
    <h5 class="text-center title m-2 p-5">
        {{ 'Aucun Element' }}
    </h5>
</ng-template>

<ng-template #loadMore>
    <div class="col-12 d-flex justify-content-center" *ngIf="CoordonneeHelper.hasMoreData && !(CoordonneeHelper.loading$ | async)">
        <button class="btn btn-outline-primary btn-oblong" (click)="checkData()">
            Voir plus
        </button>
    </div>
</ng-template>

<ng-template #loading>
    <div class="col-xl-4 col-sm-6 mg-b-20" *ngFor="let e of [].constructor(5);">
        <div class="loading-card m-0 card h-100 w-100">
            <div class="image loading-placeholder">
            </div>
        </div>
    </div>
</ng-template>

<ng-template #loadingLine>
    <div class="row">
        <div *ngFor="let e of [].constructor(6);" class="col-12 rounded-0">
            <div class="loading-card m-0 card h-100 w-100  rounded-0 align-items-center">
                <div class="bars h-100 w-100  p-2">
                    <div class="bar bar2 w-100 loading-placeholder  m-0"></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #emptyTemplate>
    <div class="row mx-0 h-75 text-center">
        <div class="col-sm-12 my-auto">
            <i class="fal fa-folder-open fa-4x" style="color: #003d79"></i>
            <br> Vide
        </div>
    </div>
</ng-template>

<ng-template #listView>
    <div class="card m-0 px-0 card-2 card-accent-primary ">
        <div [scrollWindow]="false" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50 "
            (scrolled)="CoordonneeHelper.checkData()" class="card-body p-0 scrollable-y-75 scroll-11">
            <div class="table-responsive" *ngIf="CoordonneeHelper.data$ | async as items">
                <table class="table table-hover text-nowrap mb-0"
                    *ngIf="items.length; else ((!(CoordonneeHelper.loading$ | async)) && true ? noItem : loadingLine)">
                    <thead class="tx-10 tx-uppercase">
                        <tr>
                            <th></th>
                            <th scope="col">Nom</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cursor-pointer" *ngFor="let coordonnee of items;trackBy: CoordonneeHelper.trackByFn" (click)="toggleSelectedItem(coordonnee)">
                            <td [class.bg-facebook]="hasSelectedCoordonnee(coordonnee)" >
                                <i container="body" [ngbTooltip]="coordonnee.libelle"
                                    class="fad fa-user-circle fa-2x"></i>
                            </td>
                            <td [class.bg-facebook]="hasSelectedCoordonnee(coordonnee)">
                                <a class="btn btn-sm btn-link">
                                    {{coordonnee.libelle}}
                                </a>
                            </td>
                            <td [class.bg-facebook]="hasSelectedCoordonnee(coordonnee)">
                                <a class="btn btn-sm btn-link">
                                    {{coordonnee.email}}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-container *ngIf="CoordonneeHelper.loading$ | async">
                    <ng-container *ngTemplateOutlet="loadingLine"></ng-container>
                </ng-container>
                <ng-container *ngTemplateOutlet="loadMore"></ng-container>
            </div>
        </div>
    </div>
</ng-template>