<div class="grid-container">
    <div class="secondary-content" [class.sidebar_small]="selectedAssurance">
        <div class="row row-xs mg-0 pd-0 bg-light p-0">
            <div class="col-lg-4 d-flex">
                <div>
                    <button [disabled]="(dataHelper.loading$ | async)" (click)="onShowCreateForm();" class="btn btn-oblong btn-primary bd-0 btn-icon mx-2 mg-t-5 mg-b-5">
                      <i class="fal fa-plus-circle tx-14" ></i>
                    </button>
                </div>
                <div class="form-group mg-t-5 mg-b-5 ">
                    <input type="text" class="form-control form-control-sm" name="term" placeholder="recherche" [(ngModel)]="dataHelper.searchTerm" required aria-label="Batiment" aria-describedby="basic-addon2">
                </div>
            </div>
            <div class="col-lg-4">
                <ul class="nav float-right list-inline justify-content-end">
                    <li class="nav-item"><a class="nav-link px-1" href="#"><i class="fal fa-globe bg-white tx-danger tx-14" style="padding:6px; border-radius: 50%; "></i> </a></li>
                    <li class="nav-item"><a class="nav-link px-1" href="#"><i class="fal fa-flag-alt bg-white tx-success-100 tx-14" style="padding:6px; border-radius: 50%; "></i> </a></li>
                    <li class="nav-item"><a class="nav-link px-1" href="#"><i class="fal fa-chair-office bg-white tx-warning tx-14" style="padding:6px; border-radius: 50%; "></i> </a></li>
                    <li class="nav-item"><a class="nav-link px-1" href="#"><i class="fal fa-people-carry bg-white tx-primary tx-14" style="padding:6px; border-radius: 50%; "></i> </a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul class="nav float-right list-inline justify-content-end">
                    <li class="nav-item"><a class="nav-link px-1" href="#"><i class="fad fa-circle bg-light tx-gray-600 tx-12" style="padding:6px; border-radius: 50%; "></i> <span class="tx-gray-600 tx-14">Ajustement</span></a></li>
                    <li class="nav-item"><a class="nav-link px-1" href="#"><i class="fad fa-circle bg-light tx-gray-600 tx-12" style="padding:6px; border-radius: 50%; "></i> <span class="tx-gray-600 tx-14">Affectés</span></a></li>
                </ul>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table  table-hover table-sm mb-0 " [class.loading]="dataHelper.loading$ | async">
                <tbody>
                    <tr class="barder-0">
                        <th class="tx-orange tx-left tx-16 bg-jaunelight bd-b" *ngIf="!_automobileId">Vehicule</th>
                        <th class="tx-orange tx-left tx-16 bg-jaunelight bd-b">Assurances</th>
                        <th class="tx-yeto2 tx-center tx-16 bg-bluelight"> Fournisseur</th>
                        <th class="tx-yeto2 tx-center tx-16 bg-bluelight"> Numero Contrat</th>
                        <th class="tx-yeto2 tx-center tx-16 bg-bluelight">Etat</th>
                        <th class="tx-yeto2 tx-center tx-16 bg-bluelight"> Date debut</th>
                        <th class="tx-yeto2 tx-center tx-16 bg-bluelight"> Date fin</th>
                        <th class="tx-orange tx-center p-3 tx-16"> </th>
                    </tr>
                    <ng-container *ngIf="dataHelper.data$ | async as items">
                        <ng-container *ngIf="items.length; else noItem">
                            <ng-container *ngFor="let assurance of items;trackBy: dataHelper.trackByFn">
                                <tr class=" bd-b" [ngClass]="{'border-left-success': assurance.etat_contrat === 'actif', 'border-left-warning' : assurance.etat_contrat === 'suspendu', 'border-left-danger' : assurance.etat_contrat === 'expiré' }">
                                    <td class=" " *ngIf="!_automobileId">
                                        <div>
                                            <p class="mg-0 tx-gray-600 tx-bolder"> {{assurance.automobile.libelle | titlecase}}</p>
                                        </div>
                                    </td>
                                    <td class="bg-light">
                                        <span class=" tx-yeto3 tx-14 ">
                                          {{assurance.libelle}}
                                        </span>
                                    </td>
                                    <td class="bg-light">
                                        <span class=" tx-yeto3 tx-14 ">
                                          {{assurance.coordonnee.libelle}}
                                        </span>
                                    </td>
                                    <td class="bg-light">
                                        <span class=" tx-yeto3 tx-14 ">
                                          {{assurance.numero_contrat}}
                                        </span>
                                    </td>
                                    <td class="bg-light">
                                        <span class=" tx-yeto3 tx-14 " [ngClass]="{'text-success': assurance.etat_contrat === 'actif', 'text-warning' : assurance.etat_contrat === 'suspendu', 'text-danger' : assurance.etat_contrat === 'expiré' }">
                                          {{assurance.etat_contrat}}
                                        </span>
                                    </td>
                                    <td class="tx-center bg-white bd-r bd-white">
                                        <div>
                                            <p class="mg-0 tx-gray-600 tx-bolder"> {{assurance.date_debut | date: 'dd/MM/yyyy'}}</p>
                                        </div>
                                    </td>
                                    <td class="tx-center bg-white bd-r bd-white">
                                        <div>
                                            <p class="mg-0 tx-gray-600 tx-bolder"> {{assurance.date_fin | date: 'dd/MM/yyyy'}}</p>
                                        </div>
                                    </td>
                                    <td class="tx-center bg-white bd-r bd-white">
                                        <div>
                                            <p class="mg-0 text-{{assurance.niveau?.couleur}} tx-bolder"> {{assurance.niveau?.libelle}}</p>
                                        </div>
                                    </td>
                                    <td class=" tx-center ">
                                        <button class="btn btn-sm btn-link" (click)="onSetSelected(assurance)"><i class="fad fa-search tx-14 bg-gray tx-warning " style="padding:6px; border-radius:50%"></i></button>
                                        <button class="btn btn-sm btn-link  tx-gray-600 mx-1 tx-13" (click)="onShowUpdateForm(assurance)"> <i class="fal fa-edit" ></i> </button>
                                        <button class="btn btn-sm btn-link  tx-gray-600 mx-1 tx-13" (click)="onShowCreateForm(assurance)"> <i class="fal fa-clone" ></i> </button>

                                        <button class="btn btn-sm btn-link btn-link-danger tx-gray-600 tx-13" (click)="onDelete(assurance)"> <i class="fal fa-trash-alt" ></i></button>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <div class="main-content scroll-11" [class.main-content_large]="selectedAssurance">
        <div class="card shadow mb-2 p-0"  *ngIf="selectedAssurance">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-2 d-flex align-items-center text-center">
                <button class="btn btn-link  mr-3" (click)="onSetSelected()">
                    <i class="fad fa-arrow-alt-left bg-light tx-success card-1"
                        style="padding:6px; border-radius:50%"></i>
                </button>
                <button class="btn btn-link  mr-3" (click)="onShowUpdateForm(selectedAssurance)">
                    <i class="fad fa-edit bg-light tx-success card-1"
                        style="padding:6px; border-radius:50%"></i>
                </button>
                <h6 class="m-0 font-weight-bold text-secondary text-center">
                    {{selectedAssurance.libelle}}
                </h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="row mt-1">

                <div class="col-md-3 details animated slideInLeft">
                  <ul class="list-group shadow">
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center pt-1 pb-1 bgTheme text-white">
                      {{'INFORMATIONS' | translate}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Assurances : {{selectedAssurance.libelle}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a [routerLink]="['/transport/mes-autos', selectedAssurance.auto_id]">
                            Vehicule : {{selectedAssurance.automobile.libelle | titlecase}}
                        </a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Fournisseur : {{selectedAssurance.coordonnee.libelle}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Prime : {{selectedAssurance.prime}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Periodicite : Chaque {{selectedAssurance.duree_periodicite}} {{selectedAssurance.periodicite}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Numero Contrat: {{selectedAssurance.numero_contrat}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{'START' | translate}} : {{selectedAssurance.date_debut | date:'d MMM y' }}
                    <span class="float-right fas fa-fw fa-calendar"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{'END' | translate}} : {{selectedAssurance.date_fin | date:'d MMM y'}}
                    <span class="float-right fas fa-fw fa-calendar-check"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{'DUREE' | translate}} : {{selectedAssurance.start | age:selectedAssurance.end }}
                    <span class="float-right fas fa-fw fa-clock"></span>
                    </li>
                    <li class="list-group-item text-center">
                    <b>
                        <span
                        [class]="'text-center'" [ngClass]="{'text-success': selectedAssurance.etat_contrat === 'actif', 'text-warning' : selectedAssurance.etat_contrat === 'suspendu', 'text-danger' : selectedAssurance.etat_contrat === 'expiré' }">{{selectedAssurance.etat_contrat | titlecase}}</span>
                    </b>
                    </li>
                  </ul>
                </div>

                <div class="col-md-9 pl-1">
                    <ngb-tabset [justify]="'fill'" #tabs="ngbTabset" [destroyOnHide]="true">
                        <ngb-tab id="tab-description">
                            <ng-template ngbTabTitle>
                                <i class="fal fa-list-alt"></i> Description
                            </ng-template>
                            <ng-template ngbTabContent>
                                {{selectedAssurance.description}}
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="tab-paiements">
                            <ng-template ngbTabTitle>
                                <i class="fal fa-file-certificate"></i> Paiement
                            </ng-template>
                            <ng-template ngbTabContent>
                                <app-assurance-paiement [assuranceId]="selectedAssurance.id"></app-assurance-paiement>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="tab-remboursements">
                            <ng-template ngbTabTitle>
                                <i class="fal fa-file-medical"></i> Remboursement
                            </ng-template>
                            <ng-template ngbTabContent>
                                <app-assurance-sinistre [assuranceId]="selectedAssurance.id"></app-assurance-sinistre>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="tab-objectifs">
                            <ng-template ngbTabTitle>
                                <i class="fal fa-calendar"></i> Calendrier Rappel
                            </ng-template>
                            <ng-template ngbTabContent>
                                <app-calendar-ui [eventParent]="{name: 'assurance', id: selectedAssurance.id}" [defaultTypeId]="3" [hideType]="true"></app-calendar-ui>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>



<ng-template #noItem>
    <tr>
        <td colspan="6">
            <h5 class="text-center title m-2 p-5" *ngIf="!(dataHelper.loading$ | async)">
                {{ 'Aucun Element' }}
            </h5>
        </td>
    </tr>
</ng-template>

<ng-template #content let-modal>
    <div class="modal-header bg-light  ">
        <h5 class="modal-title ">
            {{modalData.libelle}}</h5>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
          <span aria-hidden="true ">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between tx-16 flex-wrap">
              <div class="tx-yeto2">
                Vehicule
              </div>
              <div class="">{{ modalData.automobile.libelle | titlecase }}</div>
            </li>
            <li class="list-group-item d-flex justify-content-between tx-16 flex-wrap">
                <div class="tx-yeto2">
                  Vehicule
                </div>
                <div class="">{{ modalData.automobile.libelle | titlecase }}</div>
            </li>
          </ul>
        <h5>Description</h5>
        <p style="font-size: 18px;">{{modalData.description}}</p>
    </div>
    <div class="modal-footer ">
        <button class="btn btn-light mx-2 " (click)="modal.close( 'Close click');onUpdateForm(modalData); "> <i class="fal fa-edit" style="color:#99600b"></i> Modifier</button>
        <button type="button " class="btn btn-outline-dark " (click)="modal.close( 'Close click') ">Fermer</button>
    </div>
</ng-template>

