<div class="modal-header bg-light ">
    <h5 class="modal-title title">{{title | capitalizeFirst}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal('Cross click')">
    <span aria-hidden="true">×</span>
  </button>
</div>
<ng-container *ngIf="editForm">
    <div class="modal-body  tx-dark" [ngClass]="{'loading': isLoading}">
        <form class="custom-placeholder" [formGroup]="editForm">
            <div *ngIf="!automobileId" class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10" [class.loading]="!(allAutomobiles$ | async)">
                    <div class="input-group">
                        <select mySelectFirstOption class="custom-select"  required name="automobile_id" [formControlName]="'automobile_id'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'automobile_id'), 'is-valid': isValid('automobile_id')}"
                        required>
                            <ng-container *ngFor="let item of (allAutomobiles$ | async)">
                                <option [ngValue]="item.id">{{item.libelle | titlecase}}</option>
                            </ng-container>
                        </select>
                        <span class="custom-span">Vehicule</span>
                    </div>
                    <div *ngIf="shouldShowRequiredError('automobile_id')" class="invalid-feedback">veillez choisir le vehicule.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <input type="text" class="form-control" required [formControlName]="'libelle'" [ngClass]="{'is-invalid': shouldShowRequiredError('libelle'), 'is-valid': isValid('libelle')}" name="libelle" required>
                    <span class="custom-span">Type de panne</span>
                    <div *ngIf="shouldShowRequiredError('libelle')" class="invalid-feedback">veillez saisir le libellé.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <app-select-formgroup [small]="true" label="Niveau" formControlName="niveau_id" [selected]="editForm.get('niveau_id').value" [dataSource]="allPanneNiveau$" [createModal]="panneNiveauEditComponent"></app-select-formgroup>
                    <div *ngIf="shouldShowRequiredError('niveau_id')" class="invalid-feedback">veillez choisir le niveau.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <input class="form-control" name="dp" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker" [formControlName]="'date'" [ngClass]="{'is-invalid': shouldShowRequiredError('date'), 'is-valid': isValid('date')}" required>
                    <span class="custom-span">Signaler le</span>
                    <div *ngIf="shouldShowRequiredError('date')" class="invalid-feedback">veillez saisir la date.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <textarea name="description" required maxlength="500" class="form-control" cols="30" rows="3" [formControlName]="'description'" [ngClass]="{'is-invalid': shouldShowRequiredError('description'), 'is-valid': isValid('description')}"></textarea>
                    <span class="custom-span">Description {{editForm.get('description').value?.length}}/500</span>                    
                    <div *ngIf="shouldShowRequiredError('description')" class="invalid-feedback">veillez saisir la description.</div>
                </div>
            </div>

        </form>
    </div>
</ng-container>

<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary mr-3" (click)="onSubmit()" [disabled]="shouldDisableSubmit()">Enregistrer et Quitter</button>
    <button type="button" class="btn btn-sm btn-outline-primary" (click)="onSubmit(false)" [disabled]="shouldDisableSubmit()">Appliquer</button>
    <button type="button" class="btn btn-sm btn-link mr-3" (click)="ngOnInit()">Réinitialiser</button>
</div>
