<div class="container h-100">

  <!-- Outer Row -->
  <div class="row justify-content-center h-100 align-items-center">

    <div class="col-xl-10 col-lg-12 col-md-9 h-100 animated slideInLeft" style="margin-top: 10%;">

      <div class="card o-hidden border-0 shadow-lg my-5 h-100">
        <div class="card-body p-0 h-100">
          <!-- Nested Row within Card Body -->
          <div class="row h-100">
            <div class="col-lg-6 d-none d-lg-block bg-light smile text-center animated slideInDown">
              <i class="text-gradient fas fa-water"></i>
            </div>

            <div class="col-lg-6 h-100">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Bienvenue!</h1>
                </div>
                <form [formGroup]="form" (ngSubmit)="login()" class="user">
                  <div class="form-group">
                    <input type="email" formControlName="email" class="form-control form-control-user"
                      placeholder="Email...">
                  </div>
                  <div class="form-group">
                    <input formControlName="password" type="password" class="form-control form-control-user"
                      id="exampleInputPassword" placeholder="Mot de passe">
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Se souvenir de moi</label>
                    </div>
                  </div>
                  <button type="submit" [disabled]="form.invalid || requesting"
                    class="btn btn-primary btn-user btn-block">
                    Connexion
                    <i *ngIf="requesting" class="fas fa-spinner fa-spin"></i>
                  </button>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small text-secondary" target="_blank" href="https://www.open2sw.com/">
                    <!-- <img src="assets/images/logo.png" alt="Logo"> -->
                    by Open Softaware
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>