<div class="modal-header bg-light ">
    <h5 class="modal-title title">{{title}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal('Cross click')">
<span aria-hidden="true">×</span>
</button>
</div>
<ng-container *ngIf="editForm">
    <div class="modal-body" [ngClass]="{'loading': isLoading}">
        <form class="custom-placeholder" [formGroup]="editForm">
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-12 col-sm-10">
                    <input type="text" class="form-control" required [formControlName]="'libelle'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'libelle'), 'is-valid': isValid('libelle')}" name="libelle" required>
                    <span class="custom-span">libelle</span>
                    <div *ngIf="shouldShowRequiredError('libelle')" class="invalid-feedback">veillez saisir le libellé.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-12 col-sm-10">
                    <app-select-formgroup [small]="true" label="masque" formControlName="masque_id" [selected]="editForm.get('masque_id').value" [dataSource]="allMasque$" [createModal]="masqueEditComponent"></app-select-formgroup>
                    <div *ngIf="shouldShowRequiredError('masque_id')" class="invalid-feedback">veillez choisir le masque.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-12 col-sm-10">
                    <input type="time" class="form-control" required [formControlName]="'heure_depart'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'heure_depart'), 'is-valid': isValid('heure_depart')}" name="heure_depart" required>
                    <span class="custom-span">heure de depart</span>
                    <div *ngIf="shouldShowRequiredError('heure_depart')" class="invalid-feedback">veillez saisir l'heure de depart.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-12 col-sm-10">
                    <app-select-formgroup [small]="true" label="lieu de depart" formControlName="point_depart_id" [selected]="editForm.get('point_depart_id').value" [dataSource]="allLieu$" [createModal]="lieuEditComponent"></app-select-formgroup>
                    <div *ngIf="shouldShowRequiredError('point_depart')" class="invalid-feedback">veillez choisir le lieu.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-12 col-sm-10">
                    <input type="time" class="form-control" required [formControlName]="'heure_arrive'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'heure_arrive'), 'is-valid': isValid('heure_arrive')}" name="heure_arrive" required>
                    <span class="custom-span">heure d'arrivee</span>
                    <div *ngIf="shouldShowRequiredError('heure_arrive')" class="invalid-feedback">veillez saisir l'heure de arrivee.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-12 col-sm-10">
                    <app-select-formgroup [small]="true" label="lieu d'arrivee" formControlName="lieu_arrivee_id" [selected]="editForm.get('lieu_arrivee_id').value" [dataSource]="allLieu$" [createModal]="lieuEditComponent"></app-select-formgroup>
                    <div *ngIf="shouldShowRequiredError('lieu_arrivee_id')" class="invalid-feedback">veillez choisir le lieu.</div>
                </div>
            </div>
            <header class="px-3 mx-auto">
                <h5>
                    Point d'arret
                </h5>
            </header>
            <div formArrayName="point_arrets" *ngFor="let point_arret of editForm.get('point_arrets').controls; let y = index;" class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-12 col-sm-10 d-flex align-items-center">
                    <div class="flex-fill">
                        <app-select-formgroup [small]="true" label="point arret {{ y + 1}}" [formControlName]="y" [selected]="editForm.get('point_arrets').get(''+y).value" [dataSource]="allLieu$" [createModal]="lieuEditComponent"></app-select-formgroup>
                    </div>
                    <i (click)="removePointArret(y)" class="fal fa-minus-square fal fa-minus-square fa-2x mx-2 text-danger cursor-pointer"></i>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button (click)="addPointArret()" class="btn btn-light m-2" style="font-size: 13px"> <i class="fal fa-layer-plus" style="color:   #99600b    "></i> Ajouter</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary mr-3" (click)="onSubmit()" [disabled]="shouldDisableSubmit()">Enregistrer et Quitter</button>
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="onSubmit(false)" [disabled]="shouldDisableSubmit()">Appliquer</button>
        <button type="button" class="btn btn-sm btn-link mr-3" (click)="ngOnInit()">réinitialiser</button>
    </div>
</ng-container>
