<div class="modal-header bg-light ">
    <h5 class="modal-title title">{{title | capitalizeFirst}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal('Cross click')">
    <span aria-hidden="true">×</span>
  </button>
</div>
<ng-container *ngIf="editForm">
    <div class="modal-body  tx-dark" [ngClass]="{'loading': isLoading}">
        <form class="custom-placeholder" [formGroup]="editForm">
            <div *ngIf="!(automobileId||isUpdating)" class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <label class="control-label" for="auto_id">Vehicule</label>
                    <select class="form-control form-control-sm" mySelectFirstOption [class.loading]="allAutomobiles$ | async" required name="auto_id" [formControlName]="'auto_id'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'auto_id'), 'is-valid': isValid('auto_id')}"
                        required>
                    <option value="">--choississez le vehicule --</option>
                    <ng-container *ngFor="let item of (allAutomobiles$ | async)">
                        <option [ngValue]="item.id">{{item.libelle | titlecase}}</option>
                    </ng-container>
                </select>
                    <div *ngIf="shouldShowRequiredError('auto_id')" class="invalid-feedback">veillez choisir le vehicule.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <label class="control-label" for="salle">Libelle de l'assurance</label>
                    <input type="text" class="form-control form-control-sm" required [formControlName]="'libelle'" [ngClass]="{'is-invalid': shouldShowRequiredError('libelle'), 'is-valid': isValid('libelle')}" name="libelle" required>
                    <div *ngIf="shouldShowRequiredError('libelle')" class="invalid-feedback">veillez saisir le libellé.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0  pt-3">
                <div class="col-10">
                    <label class="control-label" for="libelle">Fournisseur</label>
                    <select class="form-control form-control-sm" mySelectFirstOption required name="coordonnee_id" [formControlName]="'coordonnee_id'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'coordonnee_id') , 'is-valid': isValid('coordonnee_id')}" required>
                        <ng-container *ngFor="let item of (allCoordonnees$ | async)">
                            <option [ngValue]="item.id">{{item.libelle}} </option>
                        </ng-container>
                    </select>
                    <div *ngIf="shouldShowRequiredError('coordonnee_id')" class="invalid-feedback">veillez choisir.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <label class="control-label" for="salle">Prime d'assurance</label>
                    <input type="number" class="form-control form-control-sm" required [formControlName]="'prime'" [ngClass]="{'is-invalid': shouldShowRequiredError('prime'), 'is-valid': isValid('prime')}" name="prime" required>
                    <div *ngIf="shouldShowRequiredError('prime')" class="invalid-feedback">veillez saisir la prime.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <label class="control-label">Periodicite</label>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white">Chaque</span>
                        </div>
                        <input type="number" min="1" class="form-control" [formControlName]="'duree_periodicite'" name="duree_periodicite">
                        <select class="form-control form-control-sm" name="type" [formControlName]="'periodicite'">
                          <ng-container *ngFor="let item of frequenceSelect">
                              <option [ngValue]="item.id">{{item.libelle}}</option>
                          </ng-container>
                        </select>
                    </div>
                </div>
            </div>

            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <label class="control-label" for="salle">Numero du contrat</label>
                    <input type="text" class="form-control form-control-sm" required [formControlName]="'numero_contrat'" [ngClass]="{'is-invalid': shouldShowRequiredError('numero_contrat'), 'is-valid': isValid('numero_contrat')}" name="numero_contrat" required>
                    <div *ngIf="shouldShowRequiredError('numero_contrat')" class="invalid-feedback">veillez saisir le numero du contrat.</div>
                </div>
            </div>

            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <label class="control-label" for="etat_contrat">Etat</label>
                    <select class="form-control form-control-sm" name="etat_contrat" [formControlName]="'etat_contrat'">
                        <ng-container *ngFor="let item of (tagList|sortBy:'asc':'libelle')">
                            <option [ngValue]="item.id">{{item.libelle}}</option>
                        </ng-container>
                    </select>
                    <div *ngIf="shouldShowRequiredError('etat_contrat')" class="invalid-feedback">veillez remplir ce champ.</div>
                </div>
            </div>

            <div class="formSep form-group d-flex justify-content-center pb-0 pt-3">
                <div class="col-10 col-sm-5 mb-3">
                    <input class="form-control form-control-sm" name="date_debut" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker" [formControlName]="'date_debut'" [ngClass]="{'is-invalid': shouldShowRequiredError('date_debut'), 'is-valid': isValid('date_debut')}"
                        required>
                    <span class="custom-span">Date debut </span>
                    <div *ngIf="shouldShowRequiredError('date_debut')" class="invalid-feedback">veillez remplir ce champ.</div>
                </div>
                <div class="col-10 col-sm-5 mb-3">
                    <input class="form-control form-control-sm" name="date_fin" (click)="d2.toggle()" ngbDatepicker #d2="ngbDatepicker" [formControlName]="'date_fin'" [ngClass]="{'is-invalid': shouldShowRequiredError('date_fin'), 'is-valid': isValid('date_fin')}"
                        required>
                    <span class="custom-span">Date fin</span>
                    <div *ngIf="shouldShowRequiredError('date_fin')" class="invalid-feedback">veillez remplir ce champ.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <label class="control-label" for="description">Description</label>
                    <textarea name="description" required maxlength="10000" class="form-control form-control-sm" cols="30" rows="3" [formControlName]="'description'" [ngClass]="{'is-invalid': shouldShowRequiredError('description'), 'is-valid': isValid('description')}"></textarea>
                    <small>{{editForm.get('description').value?.length}}/10000</small>
                    <div *ngIf="shouldShowRequiredError('description')" class="invalid-feedback">veillez saisir la description.</div>
                </div>
            </div>
            
        </form>
    </div>
</ng-container>

<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary mr-3" (click)="onSubmit()" [disabled]="shouldDisableSubmit()">Enregistrer et Quitter</button>
    <button type="button" class="btn btn-sm btn-outline-primary" (click)="onSubmit(false)" [disabled]="shouldDisableSubmit()">Appliquer</button>
    <button type="button" class="btn btn-sm btn-link mr-3" (click)="ngOnInit()">Réinitialiser</button>
</div>
