<div class="modal-header bg-light ">
    <h5 class="modal-title title">{{title | capitalizeFirst}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
</div>
<ng-container *ngIf="editForm">
    <div class="modal-body tx-dark" [ngClass]="{'loading': isLoading}">
        <form class="custom-placeholder" [formGroup]="editForm">
            <div *ngIf="!panneId" class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10" [class.loading]="!(allPanneAutomobiles$ | async)">
                    <app-select-formgroup [libelleColumn]="'displayLibelle'" [small]="true" label="Panne" formControlName="panne_id" [selected]="editForm.get('panne_id').value" [dataSource]="allPanneAutomobiles$" [createModal]="panneEditComponent"></app-select-formgroup>
                    <div *ngIf="shouldShowRequiredError('panne_id')" class="invalid-feedback">veillez choisir la panne.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0  pt-3">
                <div class="col-10">
                    <input type="text" class="form-control" required [formControlName]="'libelle'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'libelle'), 'is-valid': isValid('libelle')}" name="libelle" required>
                    <span class="custom-span">N° du bon de commande</span>                    
                    <div *ngIf="shouldShowRequiredError('libelle')" class="invalid-feedback">veillez saisir le N° du bon de commande.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0  pt-3">
                <div class="col-10">
                    <div class="input-group">
                        <select class="custom-select" mySelectFirstOption required name="user_id" [formControlName]="'user_id'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'user_id') , 'is-valid': isValid('user_id')}" required>
                            <ng-container *ngFor="let item of (allUsers$ | async)">
                                <option [ngValue]="item.id">{{item.nom}} {{item.prenom}}  ({{item?.departement?.name}}-{{item?.poste?.name}})</option>
                            </ng-container>
                          </select>
                          <span class="custom-span">Affecter à</span>
                    </div>
                    <div *ngIf="shouldShowRequiredError('user_id')" class="invalid-feedback">veillez choisir.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0  pt-3">
                <div class="col-10">
                    <div class="input-group">
                        <select class="custom-select" mySelectFirstOption required name="fournisseur_id" [formControlName]="'fournisseur_id'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'fournisseur_id') , 'is-valid': isValid('fournisseur_id')}" required>
                            <ng-container *ngFor="let item of (allFounisseurs$ | async)">
                                <option [ngValue]="item.id">{{item.libelle}} </option>
                            </ng-container>
                        </select>
                        <span class="custom-span">Fournisseur</span>
                    </div>
                    <div *ngIf="shouldShowRequiredError('fournisseur_id')" class="invalid-feedback">veillez choisir.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <input class="form-control" name="dp" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker" [formControlName]="'date_sortie'" [ngClass]="{'is-invalid': shouldShowRequiredError('date_sortie'), 'is-valid': isValid('date_sortie')}" required>
                    <span class="custom-span">Date sortie</span>
                    <div *ngIf="shouldShowRequiredError('date_sortie')" class="invalid-feedback">veillez saisir la date.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <input class="form-control" name="dp" (click)="d2.toggle()" ngbDatepicker #d2="ngbDatepicker" [formControlName]="'date_retour'" [ngClass]="{'is-invalid': shouldShowRequiredError('date_retour'), 'is-valid': isValid('date_retour')}" required>
                    <span class="custom-span">Date retour</span>                    
                    <div *ngIf="shouldShowRequiredError('date_retour')" class="invalid-feedback">veillez saisir la date de retour.</div>
                    <small class="text-danger" *ngIf="editForm.hasError('dateSuperieur')">La date de retour doit être àpres la sortie</small>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <app-select-formgroup [small]="true" label="Etat" formControlName="etat_id" [selected]="editForm.get('etat_id').value" [dataSource]="allEtatAutomobiles$" [createModal]="etatEditComponent"></app-select-formgroup>
                    <div *ngIf="shouldShowRequiredError('etat_id')" class="invalid-feedback">veillez choisir l'etat.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <textarea name="remarque" maxlength="500" class="form-control" cols="30" rows="3" [formControlName]="'remarque'" [ngClass]="{'is-invalid': shouldShowRequiredError('remarque'), 'is-valid': isValid('remarque')}"></textarea>
                    <span class="custom-span">Remarque {{editForm.get('remarque').value?.length}}/500</span>
                    <div *ngIf="shouldShowRequiredError('remarque')" class="invalid-feedback">veillez saisir une remarque.</div>
                </div>
            </div>
        </form>
    </div>
</ng-container>

<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary mr-3" (click)="onSubmit()" [disabled]="shouldDisableSubmit()">Enregistrer et Quitter</button>
    <button type="button" class="btn btn-sm btn-outline-primary" (click)="onSubmit(false)" [disabled]="shouldDisableSubmit()">Appliquer</button>
    <button type="button" class="btn btn-sm btn-link mr-3" (click)="ngOnInit()">réinitialiser</button>
</div>
