.grid-container {
    margin: 0 auto;
    display: flex;
    transition: 1s ease;
}

.secondary-content {
    overflow: auto;
    width: 100%;
    transition: 1s ease;
    position: relative;
}

.main-content {
    overflow: auto;
    width: 0%;
    height: 100%;
    transition: 1s ease;
}

.main-content .card {
    display: none;
}

.main-content_large {
    width: 100%;
}

.main-content_large .card {
    display: flex;
}

.sidebar_small {
    width: 0;
    height: 0;
}
