.nav .nav-item a {
  color: #6e707e;
}

.tab-content {
  border: 1px solid #dddfeb;
}

.nav .nav-item a.active {
  color: rgb(1, 42, 86, 0.8) !important;
}

body {
  margin: 0;
  font-family: "Times New Roman", Times;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fff;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #858796 !important;
}

.handMe:hover {
  cursor: pointer;
}

.bgMe:hover{
  background-color: #eff0f6;
}

.card-header:first-child {
  border-radius: 0px;
}

.card {
  border-radius: 0px;
}

.subHeaderAction a {
  margin-left: 2%;
}

/* FULL CALENDAR CSS BEGIN */
/* .fc-button-primary:not(:disabled):active,
.fc-button-primary:not(:disabled).fc-button-active {
  color: #fff !important;
  background-color: rgb(1, 42, 86, 0.8) !important;
  border-color: rgb(1, 42, 86, 0.8) !important;
}

.fc-button-primary {
  background-color: #fff !important;
  border-color: rgb(1, 42, 86, 0.8) !important;
  color: rgb(1, 42, 86, 0.8) !important;
}

.fc-button {
  line-height: 1.7 !important;
  padding: 0.4em 15px !important;
}

.fc-event {
  font-size: 100% !important; 
  line-height: 2 !important;
  font-weight: bolder !important;
  border-radius: 0px !important;
} */

/* FULL CALENDAR CSS END */

/* BEGIN ROUND BUTTONS */
.xyz {
  background-size: auto;
  text-align: center;
  padding-top: 100px;
}
.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}

.button-fixed-bottom-right {
  position: fixed;
  bottom: 5%;
  right: 2.5%;
}

.button-fixed-bottom-right .btn {
  box-shadow: 5px 10px 18px #daeec4;
}

.popover {
  box-shadow: 5px 10px 18px #daeec4 !important;
}

/* END ROUND BUTTONS */

.tableAction {
  visibility: hidden;
}

tr:hover > td > .tableAction {
  visibility: visible;
}

.subMenu a:hover {
  text-decoration: none;
}

.form-control {
  border-radius: 0px;
}

.text-gradient {
  background: linear-gradient(180deg, rgb(1, 42, 86, 0.8) 10%, #ffa500 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bgTheme {
  background: -webkit-linear-gradient(to right, rgb(1, 42, 86, 0.8) #ffa500);
  background: linear-gradient(to right, rgb(1, 42, 86, 0.8), #ffa500);
}

.border-left-orange {
  border-left: 0.25rem solid #ffa500 !important;
}

.text-orange {
  color: #ffa500;
}

.centerAdd {
  font-size: 150%;
  color: #858796;
}

.ngx-dropdown-container button {
  line-height: 2.3 !important;
  border-radius: 0px !important;
}

.ngx-dropdown-container .ngx-dropdown-list-container ul.selected-items li {
  background: -webkit-linear-gradient(to right, rgb(1, 42, 86, 0.8) #ffa500) !important;
  background: linear-gradient(to right, rgb(1, 42, 86, 0.8), #ffa500) !important;
}

/*Form Wizard*/
.bs-wizard {
  margin-top: 40px;
}
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}
.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
  margin-top: 3%;
}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {
}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-bottom: 5px;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 14px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background: #fbe8aa;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: " ";
  width: 14px;
  height: 14px;
  background: #fbbd19;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: #fbe8aa;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #f5f5f5;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}
.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}
.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}
/*END Form Wizard*/

.noRadius{
  border-radius: 0px !important;
}

