<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <app-sidebar></app-sidebar>
    </ul>
    <!-- End of Sidebar -->
  
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
  
      <!-- Main Content -->
      <div id="content">
  
        <!-- Topbar -->
        <app-header></app-header>
        <!-- End of Topbar -->
  
        <!-- Begin Page Content -->
        <div class="container-fluid">
  
          <!-- Page Heading -->
          <div class="row  mb-4">
            <h5 class="col-md-6 mb-0 text-gray-800">
              <i class="fas fa-fw {{icon}}"></i>
              <span> {{title}} </span>
            </h5>
  
            <div class="col-md-6">
            </div>
          </div>
          <div class="row mb-4 animated slideInUp">
            <div class="col-md-12">
              <div class="d-sm-flex align-items-center justify-content-start bg-white shadow-sm pt-2 pb-2 subMenu">
                <a routerLink="/bon-carburant/masque" routerLinkActive #masque="routerLinkActive" [class.text-secondary]="!masque.isActive"  class="d-none d-sm-inline-block mr-3 ml-3">
                  <i class="fas fa-receipt"></i> Masque
                </a>
                <a routerLink="/bon-carburant/stock" routerLinkActive #stock="routerLinkActive" [class.text-secondary]="!stock.isActive"  class="d-none d-sm-inline-block mr-3 ml-3">
                  <i class="fas fa-warehouse"></i> Stock
                </a>
                <a routerLink="/bon-carburant/entrant" routerLinkActive #entrant="routerLinkActive" [class.text-secondary]="!entrant.isActive"  class="d-none d-sm-inline-block mr-3 ml-3">
                  <i class="fas fa-gift-card"></i> Entrant
                </a>
                <a routerLink="/bon-carburant/sortant" routerLinkActive #sortant="routerLinkActive" [class.text-secondary]="!sortant.isActive"  class="d-none d-sm-inline-block mr-3 ml-3">
                  <i class="fas fa-hand-holding-box"></i> Sortant
                </a>
                <a routerLink="/bon-carburant/carte-abonnement" routerLinkActive #carte="routerLinkActive" [class.text-secondary]="!carte.isActive"  class="d-none d-sm-inline-block mr-3 ml-3">
                  <i class="fas fa-credit-card-front"></i> Carte
                </a>
                <a routerLink="/bon-carburant/type-coupure" routerLinkActive #coupure="routerLinkActive" [class.text-secondary]="!coupure.isActive"  class="d-none d-sm-inline-block mr-3 ml-3">
                  <i class="fas fa-cabinet-filing"></i> Coupure
                </a>
                <a routerLink="/bon-carburant/type-engagement" routerLinkActive #engagement="routerLinkActive" [class.text-secondary]="!engagement.isActive"  class="d-none d-sm-inline-block mr-3 ml-3">
                  <i class="fas fa-ramp-loading"></i> Engagement
                </a>
                <a routerLink="/bon-carburant/analyse" routerLinkActive #analyse="routerLinkActive" [class.text-secondary]="!analyse.isActive"  class="d-none d-sm-inline-block mr-3 ml-3">
                  <i class="fas fa-user-chart"></i> Analyse
                </a>
              </div>
            </div>
          </div>
          <router-outlet></router-outlet>
  
  
        </div>
        <!-- /.container-fluid -->
  
      </div>
      <!-- End of Main Content -->
  
      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->
  
    </div>
    <!-- End of Content Wrapper -->
  
  </div>
  <!-- End of Page Wrapper -->
  