<div class="modal-header bg-light ">
    <h5 class="modal-title title">{{title | capitalizeFirst}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal('Cross click')">
    <span aria-hidden="true">×</span>
  </button>
</div>
<ng-container *ngIf="editForm">
    <div class="modal-body  tx-dark" [ngClass]="{'loading': isLoading}">
        <form class="custom-placeholder" [formGroup]="editForm">
            <div *ngIf="!(automobileId||isUpdating)" class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <div class="input-group">
                        <select class="custom-select" mySelectFirstOption [class.loading]="allAutomobiles$ | async" required name="auto_id" [formControlName]="'auto_id'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'auto_id'), 'is-valid': isValid('auto_id')}"
                        required>
                            <ng-container *ngFor="let item of (allAutomobiles$ | async)">
                                <option [ngValue]="item.id">{{item.libelle | titlecase}}</option>
                            </ng-container>
                        </select>
                        <span class="custom-span">Vehicule</span>
                    </div>
                    <div *ngIf="shouldShowRequiredError('auto_id')" class="invalid-feedback">veillez choisir le vehicule.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0  pt-3">
                <div class="col-10">
                    <div class="input-groupe">
                        <select class="custom-select" mySelectFirstOption required name="coordonnee_id" [formControlName]="'coordonnee_id'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'coordonnee_id') , 'is-valid': isValid('coordonnee_id')}" required>
                            <ng-container *ngFor="let item of (allCoordonnees$ | async)">
                                <option [ngValue]="item.id">{{item.libelle}} </option>
                            </ng-container>
                        </select>
                        <span class="custom-span">Fournisseur</span> 
                    </div> 
                    <div *ngIf="shouldShowRequiredError('coordonnee_id')" class="invalid-feedback">veillez choisir.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <input class="form-control" name="dp" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker" [formControlName]="'date_visite'" [ngClass]="{'is-invalid': shouldShowRequiredError('date_visite'), 'is-valid': isValid('date_visite')}" required>
                    <span class="custom-span">Date Visite</span>                     
                    <div *ngIf="shouldShowRequiredError('date_visite')" class="invalid-feedback">veillez saisir la date.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <textarea name="libelle" required maxlength="5000" class="form-control" cols="30" rows="3" [formControlName]="'libelle'" [ngClass]="{'is-invalid': shouldShowRequiredError('libelle'), 'is-valid': isValid('libelle')}"></textarea>
                    <span class="custom-span">Observation {{editForm.get('libelle').value?.length}}/5000</span> 
                    <div *ngIf="shouldShowRequiredError('libelle')" class="invalid-feedback">veillez saisir l'observation.</div>
                </div>
            </div>        
        </form>
    </div>
</ng-container>

<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary mr-3" (click)="onSubmit()" [disabled]="shouldDisableSubmit()">Enregistrer et Quitter</button>
    <button type="button" class="btn btn-sm btn-outline-primary" (click)="onSubmit(false)" [disabled]="shouldDisableSubmit()">Appliquer</button>
    <button type="button" class="btn btn-sm btn-link mr-3" (click)="ngOnInit()">Réinitialiser</button>
</div>
