<div class="row">
    <main class="col-12" [ngClass]="{ 'col-md-8': filter}">
        <div class="row">
            <div class="col-12">
                <app-chart></app-chart>
            </div>
        </div>
    </main>
    <aside class="col-md-4 col-12 h-100" [class.d-none]="!filter">
        <!-- dashboard element -->
        <div class="card border-left-primary shadow mb-3">
            <div class="card-body">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <div>
                        <div class="font-weight-bold text-primary text-uppercase mb-1">Valeur</div>
                    </div>
                    <app-custom-select-icon [items]="valeurSelect" [limit]="3"></app-custom-select-icon>
                </div>
            </div>
        </div>

        <div class="card border-left-primary shadow mb-3">
            <div class="card-body">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <div>
                        <div class="font-weight-bold text-primary text-uppercase mb-1">Groupe de donnée</div>
                    </div>
                    <app-custom-select-icon [items]="groupeSelect" [limit]="3"></app-custom-select-icon>
                </div>
            </div>
        </div>
        <!-- dashboard element -->
    </aside>
</div>