<div class="modal-header bg-light ">
    <h5 class="modal-title title">{{title | capitalizeFirst}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal('Cross click')">
    <span aria-hidden="true">×</span>
  </button>
</div>
<ng-container *ngIf="editForm">
    <div class="modal-body  tx-dark" [ngClass]="{'loading': isLoading}">
        <form class="custom-placeholder" [formGroup]="editForm">
            <div *ngIf="!(automobileId||isUpdating)" class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <label class="control-label" for="auto_id">Vehicule</label>
                    <select class="form-control form-control-sm" mySelectFirstOption [class.loading]="allAutomobiles$ | async" required name="auto_id" [formControlName]="'auto_id'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'auto_id'), 'is-valid': isValid('auto_id')}"
                        required>
                    <option value="">--choississez le vehicule --</option>
                    <ng-container *ngFor="let item of (allAutomobiles$ | async)">
                        <option [ngValue]="item.id">{{item.libelle | titlecase}}</option>
                    </ng-container>
                </select>
                    <div *ngIf="shouldShowRequiredError('auto_id')" class="invalid-feedback">veillez choisir le vehicule.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <input type="number" class="form-control" required [formControlName]="'kilometrage'" min="1" [ngClass]="{'is-invalid': shouldShowRequiredError( 'kilometrage'), 'is-valid': isValid('kilometrage')}" name="kilometrage" required>
                    <span class="custom-span">Kilometrage</span>
                    <div *ngIf="shouldShowRequiredError('kilometrage')" class="invalid-feedback">veillez saisir le kilometrage.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <label class="control-label" for="libelle">Date</label>
                    <input class="form-control form-control-sm" name="dp" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker" [formControlName]="'date_donnee'" [ngClass]="{'is-invalid': shouldShowRequiredError('date_donnee'), 'is-valid': isValid('date_donnee')}" required>
                    <div *ngIf="shouldShowRequiredError('date_donnee')" class="invalid-feedback">veillez saisir la date.</div>
                </div>
            </div>    
        </form>
    </div>
</ng-container>

<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary mr-3" (click)="onSubmit()" [disabled]="shouldDisableSubmit()">Enregistrer et Quitter</button>
    <button type="button" class="btn btn-sm btn-outline-primary" (click)="onSubmit(false)" [disabled]="shouldDisableSubmit()">Appliquer</button>
    <button type="button" class="btn btn-sm btn-link mr-3" (click)="ngOnInit()">Réinitialiser</button>
</div>
