<div class="sticky-top2" [class.loading]="is_loading_tree">
    <div class="card mg-b-10 col-12" *ngIf="!hideUpdateDelete">
        <div class="row row-xs mb-0 p-0">
            <div class="col-lg-12">
                <div class="input-group input-group-sm p-2">
                    <input type="text" class="form-control mr-2" [(ngModel)]="nomGroupe" (keyup.enter)="quickCreation()" placeholder="Nouveau groupe" aria-label="Folder">
                    <button class="btn btn-sm btn-primary" (click)="quickCreation" [disabled]="!nomGroupe">
                      <i class="fal fa-plus-square"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-12">
        <ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
            <div class="d-flex justify-content-between">
                <ng-container *ngIf="item.text; then dataView else formView"></ng-container>

                <ng-template #formView>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" [(ngModel)]="item.libelle" autofocus (keyup.enter)="quickConsole(item, item.libelle)" (focusout)="quickConsole(item, item.libelle)" [placeholder]="item && item.value && item.value.id ? item.value.extends.libelle :'Nouveau groupe'"
                            aria-label="Folder">
                    </div>
                </ng-template>

                <ng-template #dataView>
                    <div class="bg-light">
                        <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa bold text-facebook text-16 op-7" [class.fa-caret-right]="item.collapsed" [class.fa-caret-down]="!item.collapsed"></i>
                    </div>
                    <a container="body" [ngbTooltip]="item.text | capitalizeFirst" (click)="onItemChoosed(item)" [class.highlight-dot]="selectedItem?.value?.id == item?.value?.id && item.value.type == selectedItem.value.type" class="flex-1 text-echos text-14 mx-2 text-truncate cursor-pointer cusor-pointer">
                        <i [ngClass]="item.children&&item.children.length ? ' fas text-echos' : 'fal text-echos1'"></i> {{item.text | capitalizeFirst}}
                        <div>
                            <span class=" mr-1 text-14 mb-2 text-primary pl-2 ">Sous groupes</span>
                            <span class=" mr-1  mb-2 text-warning ">{{item.children&&item.children.length ? item.children.length : 0}}</span>
                            <span class=" mr-1 text-14 mb-2 text-primary ">Eléments</span>
                            <span class=" mr-1 mb-2 text-danger ">{{item.children&&item.value.extends?.nb_coordonnees}} </span>
                        </div>
                    </a>
                    <div *ngIf="!hideUpdateDelete">

                        <button class=" btn p-0 mx-1 text-14 flex-shrink-1 btn-sm text-echos" *ngIf="!item.value.extends.groupe_id" (click)="quickAdd(item)" placement="top" ngbTooltip="Ajouter un groupe" tooltipClass="my-tooltip-class">
                    <i class="fal fa-layer-plus"></i>
                  </button>
                        <button class=" btn p-0 mx-1 text-14 flex-shrink-1 btn-sm text-echos" (click)="item.text = null" placement="top" ngbTooltip="Modifier le groupe" tooltipClass="my-tooltip-class">
                    <i class="fal fa-edit"></i>
                  </button>
                        <!-- <button class=" btn p-0 mx-1 text-16 flex-shrink-1 btn-sm text-echos" (click)="ajouterGroupe(item)" placement="top" ngbTooltip="Ajouter un groupe" tooltipClass="my-tooltip-class">
                    <i class="fal fa-layer-plus"></i>
                  </button> -->
                        <button class=" btn p-0 mx-1 text-14 flex-shrink-1 btn-sm" *ngIf="!item.value.extends.cant_delete" (click)="removeChild(item)" placement="top" ngbTooltip="Supprimer" tooltipClass="my-tooltip-class">
                    <i class="fal fa-times-square text-danger"></i>
                  </button>
                    </div>
                </ng-template>

            </div>
        </ng-template>

        <div class="hierarchie-side scroll-11">
            <ngx-treeview [config]="config" [items]="hierarchieItems" [itemTemplate]="itemTemplate">
            </ngx-treeview>
        </div>
    </div>
</div>
