<div class="card card-2 card-accent-primary">
  <div
    class="d-flex align-items-center justify-content-between p-2 border-bottom"
  >
    <input
      type="text"
      class="form-control form-control-sm"
      name="term"
      placeholder="recherche"
      [(ngModel)]="dataHelper.searchTerm"
      required
      aria-label="Batiment"
      aria-describedby="basic-addon2"
    />
    <button class="btn btn-link" (click)="onChangeView('card')">
      <span class="tx-primary">
        <i
          class="fad fa-th card-1 tx-16"
          [ngClass]="
            view == 'card' ? 'bg-primary text-white' : 'text-primary bg-white'
          "
          style="padding: 6px; border-radius: 50%"
        ></i>
      </span>
    </button>
    <button class="btn btn-link" (click)="onChangeView('list')">
      <span class="tx-primary">
        <i
          class="fad fa-list card-1 tx-16"
          [ngClass]="
            view == 'list' ? 'bg-primary text-white' : 'text-primary bg-white'
          "
          style="padding: 6px; border-radius: 50%"
        ></i>
      </span>
    </button>
  </div>
  <div class="card-body" *ngIf="view == 'card'; else listView">
    <div
      [scrollWindow]="false"
      infiniteScroll
      (scrolled)="checkData()"
      class="d-flex scrollable-y-75 justify-content-center flex-wrap mg-l-0 mg-r-0"
    >
      <ng-container *ngIf="dataHelper.data$ | async as items">
        <ng-container
          *ngIf="
            items.length;
            else !(dataHelper.loading$ | async) && true ? noItem : loading
          "
        >
          <div
            class="col-xl-3 col-sm-6"
            [@flyInOut]="'in'"
            *ngFor="let coordonnee of items; trackBy: dataHelper.trackByFn"
          >
            <div class="card card-profile-1 mb-3">
              <a
                class="card-body tx-center p-0"
                (click)="openModal(content, coordonnee)"
              >
                <div class="mx-auto my-2 avatar-md">
                  <div
                    class="avatar-title bg-soft-primary text-primary display-6 m-0 rounded-circle"
                  >
                    <i class="fas fa-3x fa-user-circle"></i>
                  </div>
                </div>
                <h6 class="m-0 tx-primary text-center">
                  {{ coordonnee.libelle }}
                </h6>
                <p class="text-muted text-center mb-0">
                  <i
                    class="fas fa-phone tx-15 align-middle pe-2 text-primary"
                  ></i>
                  {{ coordonnee.telephone }}
                </p>
                <p class="text-muted text-center mb-0">
                  <i class="fas fa-at tx-15 align-middle pe-2 text-primary"></i>
                  {{ coordonnee.email }}
                </p>
                <div class="p-2 tx-echos tx-center bg-soft-primary">
                  <span
                    class="badge badge-primary mx-1 card-2"
                    *ngFor="let tag of coordonnee.tag.split(',')"
                  >
                    {{ tag | titlecase }}
                  </span>
                </div>
              </a>
              <div class="pt-2 bg-light">
                <ul class="nav float-center list-inline justify-content-center">
                  <li class="nav-item">
                    <a
                      class="nav-link3"
                      container="body"
                      ngbTooltip="Details"
                      (click)="openModal(content, coordonnee)"
                    >
                      <span class="tx-echos">
                        <i
                          class="fas fa-address-card tx-echos tx-echos bg-white"
                          style="padding: 6px; border-radius: 50%"
                        ></i>
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link3"
                      container="body"
                      ngbTooltip="Groupes"
                      (click)="onGroupeCoordonnee(coordonnee)"
                    >
                      <span class="tx-echos">
                        <i
                          class="fas fa-users tx-echos tx-echos bg-white"
                          style="padding: 6px; border-radius: 50%"
                        ></i>
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link3"
                      container="body"
                      ngbTooltip="Modifier"
                      (click)="onShowUpdateForm(coordonnee)"
                    >
                      <span class="tx-echos">
                        <i
                          class="fas fa-edit tx-echos tx-echos bg-white"
                          style="padding: 6px; border-radius: 50%"
                        ></i>
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link3"
                      container="body"
                      ngbTooltip="Dupliquer"
                      (click)="onShowCreateForm(coordonnee)"
                    >
                      <span class="tx-echos">
                        <i
                          class="fas fa-clone tx-echos tx-echos bg-white"
                          style="padding: 6px; border-radius: 50%"
                        ></i>
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link3"
                      container="body"
                      ngbTooltip="Supprimer"
                      (click)="onDelete(coordonnee)"
                    >
                      <span class="tx-echos">
                        <i
                          class="fas fa-times-square tx-echos tx-echos bg-white"
                          style="padding: 6px; border-radius: 50%"
                        ></i>
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- <div class="card">
                        <div class="card-body">
                            <div class="float-right no-caret" container="body" ngbDropdown>
                                <button class="btn btn-oblong btn-outline-primary bd-0 btn-icon mx-2" ngbDropdownToggle role="button"><i class="fal fa-comment-alt-dots fa-lg rounded-circle"></i></button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button (click)="onShowUpdateForm(coordonnee)" ngbDropdownItem><i class="fal fa-edit tx-second"></i> Modifier</button>
                                    <button (click)="onShowCreateForm(coordonnee)" ngbDropdownItem><i class="fal fa-clone tx-second"></i> Dupliquer</button>
                                    <button (click)="onDelete(coordonnee)" ngbDropdownItem><i class="fal fa-times-square tx-second"></i> Supprimer</button>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="avatar-md">
                                    <div class="avatar-title bg-soft-primary text-primary display-6 m-0 rounded-circle"><i class="fas fa-3x fa-user-circle"></i></div>
                                </div>
                                <div class="flex-1 ms-3">
                                    <h5 class="tx-16 mb-1"><a href="#" class="text-dark">{{coordonnee.libelle}}</a></h5>
                                </div>
                            </div>
                            <div class="mt-3 pt-1">
                                <p class="text-muted mb-0"><i class="fas fa-phone tx-15 align-middle pe-2 text-primary"></i> {{coordonnee.telephone}} </p>
                                <p class="text-muted mb-0 mt-2"><i class="fas fa-at tx-15 align-middle pe-2 text-primary"></i> {{coordonnee.email}} </p>
                                <p class="text-muted mb-0 mt-2"><i class="fas fa-map-marked-alt tx-15 align-middle pe-2 text-primary"></i> {{coordonnee.adresse}} </p>
                            </div>
                            <div class="d-flex gap-2 pt-4">
                                <button (click)="openModal(content, coordonnee)" type="button" class="btn btn-soft-primary btn-sm w-50"><i class="bx bx-user me-1"></i> Details</button>
                                <a type="button" class="btn btn-primary btn-sm w-50" [routerLink]="['./',coordonnee.id]"><i class="bx bx-message-square-dots me-1"></i> Voir plus</a>
                            </div>
                        </div>
                    </div> -->
          </div>
          <ng-container *ngIf="dataHelper.loading$ | async">
            <ng-container *ngTemplateOutlet="loading"></ng-container>
          </ng-container>
          <ng-container *ngTemplateOutlet="loadMore"></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<ng-template #listView>
  <div class="card px-0 card-2 card-accent-primary">
    <div
      [scrollWindow]="false"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="checkData()"
      class="card-body p-0 scrollable-y-75 scroll-11"
    >
      <div class="table-responsive" *ngIf="dataHelper.data$ | async as items">
        <table
          class="table table-hover text-nowrap mb-0"
          *ngIf="
            items.length;
            else !(dataHelper.loading$ | async) && true ? noItem : loadingLine
          "
        >
          <thead class="tx-10 tx-uppercase">
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let coordonnee of items; trackBy: dataHelper.trackByFn">
              <td>
                <a
                  class="btn btn-sm btn-link"
                  (click)="openModal(content, coordonnee)"
                >
                  {{ coordonnee.libelle }}
                </a>
              </td>
              <td>
                <a
                  class="btn btn-sm btn-link"
                  (click)="openModal(content, coordonnee)"
                >
                  {{ coordonnee.tag | shorten : 30 }}
                </a>
              </td>
              <td>
                <a
                  class="table-action cursor-pointer float-right mx-2"
                  container="body"
                  ngbTooltip="Supprimer"
                  (click)="onDelete(coordonnee)"
                  ><i class="fal fa-times-square tx-second"></i
                ></a>
                <a
                  class="table-action cursor-pointer float-right mx-2"
                  container="body"
                  ngbTooltip="Dupliquer"
                  (click)="onShowCreateForm(coordonnee)"
                  ><i class="fal fa-clone tx-second"></i
                ></a>
                <a
                  class="table-action cursor-pointer float-right mx-2"
                  container="body"
                  ngbTooltip="Modifier"
                  (click)="onShowUpdateForm(coordonnee)"
                  ><i class="fal fa-edit tx-second"></i
                ></a>
                <a
                  class="table-action cursor-pointer float-right mx-2"
                  container="body"
                  ngbTooltip="Groupes"
                  (click)="onGroupeCoordonnee(coordonnee)"
                  ><i class="fal fa-users tx-second"></i
                ></a>
                <a
                  class="table-action cursor-pointer float-right mx-2"
                  container="body"
                  ngbTooltip="Details"
                  (click)="openModal(content, coordonnee)"
                  ><i class="fal fa-address-card tx-second"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
        <ng-container *ngIf="dataHelper.loading$ | async">
          <ng-container *ngTemplateOutlet="loadingLine"></ng-container>
        </ng-container>
        <ng-container *ngTemplateOutlet="loadMore"></ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noItem>
  <h5 class="text-center title m-2 p-5">
    {{ "Aucun Element" }}
  </h5>
</ng-template>

<ng-template #loadMore>
  <div
    class="col-12 d-flex justify-content-center"
    *ngIf="dataHelper.hasMoreData && !(dataHelper.loading$ | async)"
  >
    <button class="btn btn-outline-primary btn-oblong" (click)="checkData()">
      Voir plus
    </button>
  </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header bg-light">
    <h5 class="modal-title">
      {{ modalData.libelle }}
    </h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body p-0">
    <ul class="list-group list-group-flush">
      <li
        class="list-group-item d-flex justify-content-between tx-16 flex-wrap"
      >
        <div class="tx-yeto2">
          <i class="fal fa-at text-info mx-2"></i> Email
        </div>
        <div class="">{{ modalData.email }}</div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between tx-16 flex-wrap"
      >
        <div class="tx-yeto2">
          <i class="fal fa-phone-square-alt text-info mx-2"></i> Telephone
        </div>
        <div class="">{{ modalData.telephone }}</div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between tx-16 flex-wrap"
      >
        <div class="tx-yeto2">
          <i class="fal fa-map-marked-alt text-info mx-2"></i> Adresse
        </div>
        <div class="">
          {{ modalData.adresse }}
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between tx-16 flex-wrap"
      >
        <div class="tx-yeto2">
          <i class="fal fa-tag text-info mx-2"></i> Tag
        </div>
        <div class="">
          {{ modalData.tag }}
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between tx-16 flex-wrap"
        *ngIf="modalData.condition_suivi"
      >
        <div class="tx-yeto2">
          <i class="fal fa-clipboard-check text-info mx-2"></i> Condition de
          suivi
        </div>
        <div class="">
          {{ modalData.condition_suivi }}
        </div>
      </li>
      <li
        class="list-group-item d-flex justify-content-between tx-16 flex-wrap"
        *ngIf="modalData.commentaire"
      >
        <div class="tx-yeto2">
          <i class="fal fa-comments text-info mx-2"></i> Commentaire
        </div>
        <div class="">
          {{ modalData.commentaire }}
        </div>
      </li>
      <li class="list-group-item tx-16 flex-wrap" *ngIf="modalData.commentaire">
        <div class="tx-yeto2 mb-2">
          <i class="fal fa-users text-info mx-2"></i> Groupes
        </div>
        <div class="row row-xs mg-0 pd-0 clearfix py-2 bg-light bd-t">
          <a
            class="col-lg-6 p-2"
            (click)="modal.close('Close click')"
            [routerLink]="['/groupe-contact', groupe.id]"
            *ngFor="let groupe of modalData.groupes"
          >
            <div class="mycard4" style="border-radius: 0% 10% 10% 10%">
              <div class="text-center bd-b bg-white p-3">
                <i
                  class="fa-object-group tx-50"
                  [ngClass]="
                    groupe.groupe_id ? 'fal tx-echos1' : ' fas tx-echos'
                  "
                ></i>
              </div>
              <div class="text-center p-2">
                <h6 class="tx-echos1 tx-bold">
                  {{ groupe.libelle | titlecase }}
                </h6>

                <p class="p-0 tx-14">
                  <span class="mr-1 tx-14 mg-b-5 tx-echos1 pl-2"
                    >Sous groupes</span
                  >
                  <span class="mr-1 mg-b-5 tx-warning">{{
                    groupe.nb_coordonnee_groupes
                  }}</span>
                  <span class="mr-1 tx-14 mg-b-5 tx-echos1">Eléments</span>
                  <span class="mr-1 mg-b-5 tx-danger"
                    >{{ groupe.nb_coordonnees }}
                  </span>
                </p>
              </div>
            </div>
          </a>
        </div>
      </li>
    </ul>
    <header class="px-3 mx-auto">
      <h5>
          Contact Additionnel 
      </h5>
  </header>
    <div class="table-responsive" *ngIf="modalData.contacts && modalData.contacts.length">
      <table class="table table-hover text-nowrap">
          <thead class="tx-10 tx-uppercase">
              <tr>
                  <th>Nom</th>
                  <th class="tx-center">Statut</th>
                  <th class="tx-center">Email</th>
                  <th class="tx-center">Telephone</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contact of modalData.contacts;">
              <td>
                  {{contact.libelle}}
              </td>
              <td>
                {{contact.statut}}
              </td>
              <td>
                {{contact.email}}
              </td>
              <td>
                {{contact.telephone}}
              </td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button
      [routerLink]="['./', modalData.id]"
      (click)="modal.close('Close click')"
      class="btn btn-sm btn-primary mx-2"
    >
      Voir plus
    </button> -->
    <button
      class="btn btn-sm btn-light mx-2"
      (click)="modal.close('Close click'); onShowUpdateForm(modalData)"
    >
      <i class="fal fa-edit" style="color: #99600b"></i> Modifier
    </button>
    <button
      type="button "
      class="btn btn-sm btn-outline-primary"
      (click)="modal.close('Close click')"
    >
      Fermer
    </button>
  </div>
</ng-template>

<ng-template #loading>
  <div class="col-xl-3 col-sm-6 mg-b-20" *ngFor="let e of [].constructor(5)">
    <div class="loading-card card h-100 w-100">
      <div class="image loading-placeholder"></div>
      <div class="bars">
        <div class="bar bar1 loading-placeholder"></div>
        <div class="bar bar2 loading-placeholder"></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #loadingLine>
  <div *ngFor="let e of [].constructor(5)" class="w-100 rounded-0">
    <div class="loading-card w-100 rounded-0">
      <div class="bars d-flex h-100 p-2">
        <div class="bar bar2 col-2 loading-placeholder m-0"></div>
        <div class="col-2"></div>
        <div class="bar bar2 col-2 loading-placeholder m-0"></div>
      </div>
    </div>
  </div>
</ng-template>

<!-- ADD -->
<div class="button-fixed-bottom-right">
  <button
    [disabled]="dataHelper.loading$ | async"
    (click)="onShowCreateForm()"
    title="Créer"
    type="button"
    class="btn btn-primary btn-circle btn-lg"
  >
    <i class="fas fa-plus-circle"></i>
  </button>
  <!-- <button *ngIf="currentView == 'add'" title="Fermer"
      (click)="addOrList(); setTitle('window', 'listMission'); removeItem()" type="button"
      class="btn btn-danger btn-circle btn-lg">
      <i class="fas fa-times"></i>
    </button> -->
</div>
