<div class="card card-accent-info mb-2">
    <div class=" bg-light ">
        <div class="card-body p-2 ">
            <h3 class="tx-16 tx-facebook ">
                <i class="fad fa-circle "></i> Transport
                <div class="float-right">
                    <i class="fal fa-bus-alt" style="color:  #ebf5fb  "></i>
                </div>
            </h3>
        </div>
    </div>

    <div class="nav flex-column nav " id="v-pills-tab " role="tablist " aria-orientation="vertical ">
        <a class="btn btn-default text-left bd-b " routerLinkActive="btn-label-primary" [routerLink]="[ '/transport/mes-autos']">
            <i class="fal fa-bus-school" style="color:#21618c"></i> Automobiles
        </a>
        <a class="btn btn-default text-left bd-b " routerLinkActive="btn-label-primary" [routerLink]="[ '/transport/mes-itineraires']">
            <i class="fal fa-route" style="color:#21618c"></i> Itineraires
        </a>
        <a class="btn btn-default text-left bd-b " routerLinkActive="btn-label-primary" [routerLink]="[ '/transport/mes-conducteurs']">
            <i class="fal fa-user-tie" style="color:#21618c"></i> Conducteurs
        </a>
    </div>
</div>

<div class="card card-accent-yeto2 mb-2">
    <div class=" bg-light ">
        <div class="card-body p-2 ">
            <h3 class="tx-16 tx-yeto2">
                <i class="fad fa-circle "></i> Configuration
                <div class="float-right">
                    <i class="fal fa-cog" style="color:  #ebf5fb  "></i>
                </div>
            </h3>
        </div>
    </div>

    <div class="nav flex-column nav " id="v-pills-tab " role="tablist " aria-orientation="vertical ">
        <a class="btn btn-default text-left bd-b " routerLinkActive="btn-label-primary" [routerLink]="[ '/transport/configuration/couleurs']">
            <i class="fal fa-palette" style="color:#21618c"></i> Couleurs
        </a>
        <a class="btn btn-default text-left bd-b " routerLinkActive="btn-label-primary" [routerLink]="[ '/transport/configuration/genres']">
            <i class="fal fa-palette" style="color:#21618c"></i> Genres
        </a>
        <a class="btn btn-default text-left bd-b " routerLinkActive="btn-label-primary" [routerLink]="[ '/transport/configuration/marques']">
            <i class="fal fa-copyright" style="color:#21618c"></i> Marques
        </a>
        <a class="btn btn-default text-left bd-b " routerLinkActive="btn-label-primary" [routerLink]="[ '/transport/configuration/modeles']">
            <i class="fal fa-car-bus" style="color:#21618c"></i> Modeles
        </a>
        <a class="btn btn-default text-left bd-b " routerLinkActive="btn-label-primary" [routerLink]="[ '/transport/configuration/series']">
            <i class="fal fa-cars" style="color:#21618c"></i> Series
        </a>
        <a class="btn btn-default text-left bd-b " routerLinkActive="btn-label-primary" [routerLink]="[ '/transport/configuration/masques-itineraires']">
            <i class="fal fa-map-signs" style="color:#21618c"></i> Masques Itineraires
        </a>
    </div>
</div>