<div class="modal-header bg-light ">
    <h5 class="modal-title title">{{title | capitalizeFirst}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal('Cross click')">
    <span aria-hidden="true">×</span>
  </button>
</div>
<ng-container *ngIf="editForm">
    <div class="modal-body  tx-dark" [ngClass]="{'loading': isLoading || this.is_loading_batiments}">
        <form class="custom-placeholder" [formGroup]="editForm">
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-12 col-sm-10">
                    <!-- Label -->
                    <label class="control-label" for="coordonnees">
                      Coordonnee
                      <i class="fad fa-circle-notch fa-spin"
                          *ngIf="dependanciesLoading.coordonnees"></i>
                    </label>

                    <angular2-multiselect [data]="dependancies.coordonnees" formControlName="cr_coordonnees" [settings]="helper2.multi" [ngClass]="{'is-invalid': shouldShowRequiredError( 'cr_coordonnees'), 'is-valid': isValid('cr_coordonnees')}" (click)="getCoordonnees()"
                        class="form-control p-0 ">
                    </angular2-multiselect>
                </div>
            </div>
        </form>
    </div>
</ng-container>

<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary mr-3" (click)="onSubmit()" [disabled]="shouldDisableSubmit()">Enregistrer et Quitter</button>
    <button type="button" class="btn btn-sm btn-outline-primary" (click)="onSubmit(false)" [disabled]="shouldDisableSubmit()">Appliquer</button>
    <button type="button" class="btn btn-sm btn-link mr-3" (click)="ngOnInit()">réinitialiser</button>
</div>
