<!-- START PAYS -->
<section class="section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="title-heading text-center"><i class="mdi mdi-account"></i> {{'USERS' | translate}}</h1>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-6 col-md-4 col-lg-3 mt-2">
        <div class="card">
          <div class="row no-gutters">
            <div class="col-12">
              <div class="card-body myHover" [title]="'ADD'| translate">
                <div class="card-title text-center">
                  <h2><i class="mdi mdi-plus"></i></h2>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div *ngFor="let item of SOURCE" class="col-sm-6 col-md-4 col-lg-3 mt-2">
        <div class="card">
          <div class="row no-gutters">
            <div class="col-4">
              <img [src]="'../../../../assets/images/users/'+item?.photo" class="card-img-top">
            </div>
            <div class="col-8">
              <div class="card-body myHover" data-toggle="modal" data-target="#myModal">
                <div class="card-title">
                  <a>
                    {{item?.name}}
                  </a>
                </div>
                <small class="text-muted">Sénégal</small>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- END PAYS -->

<!-- FORM modal -->
<div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-theme text-center text-white">
        <h4 class="modal-title w-100 font-weight-bold upperCase">{{modalTitle | translate}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row p-2">
          <div class="col-md-12">

          </div>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-md btn-light" data-dismiss="modal">{{'CLOSE'|translate}}</button>
      </div>
    </div>
  </div>
</div>