<div class="grid-container scrollable-y-75 scroll-11">
    <div class="sidebarlist" [class.sidebar_small]="selectedCommande">
        <div class="col-12 d-flex align-items-center">
            <input type="text" class="form-control form-control-sm" name="term" placeholder="recherche" [(ngModel)]="dataHelper.searchTerm" required aria-label="Batiment" aria-describedby="basic-addon2">
            <button [disabled]="(dataHelper.loading$ | async)" (click)="onShowCreateForm();" class="btn btn-oblong btn-primary bd-0 btn-icon mx-2 my-1">
                <i class="fal fa-plus-circle tx-14" ></i>
            </button>
        </div>
        <div class="table-responsive">
            <table class="table  table-hover table-sm mb-0 " [class.loading]="dataHelper.loading$ | async">
                <tbody>
                    <tr>
                        <th class="tx-yeto2  ">Matériel</th>
                        <th class="tx-orange  tx-16 bg-jaunelight1">Date commande</th>
                        <th class="tx-yeto2  tx-16 bg-bluelight">Coût Unitaire</th>
                        <th class="tx-yeto2  tx-16 bg-bluelight bd-r bd-white">Quantités</th>
                        <th class="tx-jaune  tx-16 bg-greenlight"> Affectés à</th>
                        <th class="tx-orange  tx-16"> </th>
                    </tr>
                    <ng-container *ngIf="dataHelper.data$ | async as items">
                        <ng-container *ngIf="items.length; else noItem">
                            <ng-container *ngFor="let commande of items;trackBy: dataHelper.trackByFn">
                                <tr class=" bd-b">
                                    <td class=" ">
                                        <div>
                                            <p class="mg-0 tx-gray-600 tx-bolder">
                                                <i class="fad fa-info-circle tx-14 bg-gray tx-warning " style="padding:6px; border-radius:50%"></i> {{commande.materiel.libelle | titlecase}}
                                            </p>
                                        </div>
                                    </td>
                                    <td class="tx-center bg-white ">
                                        <div>
                                            <p class="mg-0 tx-gray-600 tx-bolder"> {{commande.date_commande | date: 'dd/MM/yyyy'}}</p>
                                        </div>
                                    </td>
                                    <td class=" tx-center bg-white bd-r bd-white">
                                        <div>
                                            <p class="mg-0 tx-gray-600 tx-bolder"> {{commande.prix | number :'':'fr-FR'}}</p>
                                        </div>
                                    </td>
                                    <td class=" tx-center bg-white bd-r bd-white">
                                        <div>
                                            <p class="mg-0 tx-gray-600 tx-bolder"> {{commande.quantite}}</p>
                                        </div>
                                    </td>
                                    <td class=" tx-center ">
                                        <button class="btn btn-link btn-sm" (click)="onSetSelected(commande)">
                                          <ul class="list-unstyled mg-0 d-flex align-items-center justify-content-center" *ngIf="commande.affectation_personnes && commande.affectation_personnes.length">
                                            <li *ngFor="let item of commande.affectation_personnes | slice:0:3" class="mg-l--10">
                                                <div class="avatar">
                                                    <img src="assets/images/avatar-placeholder.png" title="{{item.user.libelle}}" class="avatar-initial border border-secondary rounded-circle" alt="">
                                                </div>
                                            </li>
                                            <li *ngIf="commande.affectation_personnes?.length > 3" class="mg-l--10" data-original-title="" title="">
                                                <div class="avatar"><span class="bg-soft-primary avatar-initial rounded-circle">{{commande.affectation_personnes.length - 3}}+</span></div>
                                            </li>
                                          </ul>
                                        </button>
                                    </td>
                                    <td class=" tx-center ">
                                        <button class="btn btn-sm btn-link tx-gray-600  tx-13" (click)="onSetSelected(commande)"><i class="fal fa-link"></i></button>
                                        <button class="btn btn-sm btn-link  tx-gray-600  tx-13" (click)="onShowUpdateForm(commande)"> <i class="fal fa-edit" ></i> </button>
                                        <button class="btn btn-sm btn-link btn-link-danger tx-gray-600 tx-13" (click)="onDelete(commande)"> <i class="fal fa-trash-alt" ></i></button>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                    <section *ngIf="dataHelper.hasMoreData " [fromRoot]="true" infiniteScroll [infiniteScrollDistance]="2 " [infiniteScrollThrottle]="50 " (scrolled)="dataHelper.loadData() ">
                    </section>
                </tbody>
            </table>
        </div>
    </div>
    <div class="main-content scroll-11" [class.main-content_large]="selectedCommande">
        <ng-container *ngIf="selectedCommande">
            <div class="d-flex border-bottom sticky-top bg-white align-items-center justify-content-between">
                <button class="btn btn-sm btn-link" (click)="onSetSelected()">
                    <i class="fal fa-2x fa-arrow-circle-left"></i>
                </button>
                <span class="flex-1 tx-facebook tx-24">{{selectedCommande.materiel.libelle}}: {{selectedCommande.date_commande | date: 'dd/MM/yyyy'}}</span>
                <button [disabled]="(dataHelper.loading$ | async)" (click)="onShowCreateAffectationForm();" class="btn btn-sm  btn-primary card-1 bd-0 btn-icon mx-2 mg-t-5 mg-b-5">
                  <i class="fal fa-plus-square" ></i>
                </button>
            </div>
            <div class="table-responsive">
                <table class="table  table-hover table-sm mb-0 ">
                    <tbody>
                        <tr class=" mg-b-20">
                            <th class="tx-yeto2 tx-16 bg-greenlight"> Affectés à</th>
                            <th class="tx-yeto2  tx-16 bg-greenlight bd-r bd-white">Quantités</th>
                            <th class="tx-yeto2  tx-16 bg-bluelight">Date Affectation</th>
                            <th class="tx-orange tx-center tx-16"> </th>
                        </tr>
                        <tr class=" bd-b" *ngFor="let affectation of selectedCommande.affectation_personnes">
                            <td class=" tx-center ">
                                <div class="d-flex flex-row  mg-t-6">
                                    <div class="profiles">
                                        <img class="rounded-circle" src="assets/images/avatar-placeholder.png" alt="avatar" width="30">
                                    </div>
                                    {{affectation.user.libelle}}
                                </div>
                            </td>
                            <td class=" tx-center bg-white bd-r bd-white">
                                <div>
                                    <p class="mg-0 tx-gray-600 tx-bolder"> {{affectation.quantite}}</p>
                                </div>
                            </td>
                            <td class=" tx-center bg-white ">
                                <div>
                                    <p class="mg-0 tx-gray-600 tx-bolder">{{affectation.date | date: 'dd/MM/yyyy'}}</p>
                                </div>
                            </td>

                            <td class=" tx-center ">
                                <button class="btn btn-sm btn-link  tx-gray-600 tx-13" (click)="onShowUpdateAffectationForm(affectation)"> <i class="fal fa-edit" ></i> </button>
                                <button class="btn btn-sm btn-link btn-link-danger tx-gray-600 tx-13" (click)="onDeleteAffectation(affectation)"> <i class="fal fa-trash-alt" ></i></button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #noItem>
    <tr>
        <td colspan="6">
            <h5 class="text-center title m-2 p-5" *ngIf="!(dataHelper.loading$ | async)">
                {{ 'Aucun Element' }}
            </h5>
        </td>
    </tr>
</ng-template>