<div class="modal-header bg-light ">
    <h5 class="modal-title title">{{title | capitalizeFirst}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal('Cross click')">
    <span aria-hidden="true">×</span>
  </button>
</div>
<ng-container *ngIf="editForm">
    <div class="modal-body  tx-dark" [ngClass]="{'loading': isLoading}">
        <form class="custom-placeholder" [formGroup]="editForm">
            <div *ngIf="!(conducteurId||isUpdating)" class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <div class="input-group">
                        <select class="form-control" mySelectFirstOption [class.loading]="allAutomobiles$ | async" required name="conducteur_id" [formControlName]="'conducteur_id'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'conducteur_id'), 'is-valid': isValid('conducteur_id')}"
                        required>
                            <ng-container *ngFor="let item of (allConducteurs$ | async)">
                                <option [ngValue]="item.id">{{item.libelle | titlecase}}</option>
                            </ng-container>
                        </select>
                        <span class="custom-span">Chauffeur</span>
                    </div>
                    <div *ngIf="shouldShowRequiredError('conducteur_id')" class="invalid-feedback">veillez choisir le conducteur.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <input type="text" class="form-control" [formControlName]="'libelle'" [ngClass]="{'is-invalid': shouldShowRequiredError('libelle'), 'is-valid': isValid('libelle')}" name="libelle" required>
                    <span class="custom-span">Motif</span> 
                    <div class="invalid-feedback" *ngIf="shouldShowRequiredError('libelle')">veillez saisir le motif.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <input class="form-control" name="dp" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker" [formControlName]="'date_visite'" [ngClass]="{'is-invalid': shouldShowRequiredError('date_visite'), 'is-valid': isValid('date_visite')}" required>
                    <span class="custom-span">Date Visite</span> 
                    <div *ngIf="shouldShowRequiredError('date_visite')" class="invalid-feedback">veillez saisir la date.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <label class="control-label" for="diagnostic"></label>
                    <textarea name="diagnostic" required maxlength="5000" class="form-control" cols="30" rows="3" [formControlName]="'diagnostic'" [ngClass]="{'is-invalid': shouldShowRequiredError('diagnostic'), 'is-valid': isValid('diagnostic')}"></textarea>
                    <span class="custom-span">Diagnostic {{editForm.get('diagnostic').value?.length}}/5000</span>
                    <div *ngIf="shouldShowRequiredError('diagnostic')" class="invalid-feedback">veillez saisirce champ.</div>
                </div>
            </div>        
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <textarea name="traitements_prescrits" required maxlength="5000" class="form-control" cols="30" rows="3" [formControlName]="'traitements_prescrits'" [ngClass]="{'is-invalid': shouldShowRequiredError('traitements_prescrits'), 'is-valid': isValid('traitements_prescrits')}"></textarea>
                    <span class="custom-span">Traitements Prescrits {{editForm.get('traitements_prescrits').value?.length}}/5000</span>
                    <div *ngIf="shouldShowRequiredError('traitements_prescrits')" class="invalid-feedback">veillez saisirce champ.</div>
                </div>
            </div>        
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <textarea name="commentaires" required maxlength="5000" class="form-control" cols="30" rows="3" [formControlName]="'commentaires'" [ngClass]="{'is-invalid': shouldShowRequiredError('commentaires'), 'is-valid': isValid('commentaires')}"></textarea>
                    <span class="custom-span">Commentaires {{editForm.get('commentaires').value?.length}}/5000</span>
                    <div *ngIf="shouldShowRequiredError('commentaires')" class="invalid-feedback">veillez saisirce champ.</div>
                </div>
            </div>        
        </form>
    </div>
</ng-container>

<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary mr-3" (click)="onSubmit()" [disabled]="shouldDisableSubmit()">Enregistrer et Quitter</button>
    <button type="button" class="btn btn-sm btn-outline-primary" (click)="onSubmit(false)" [disabled]="shouldDisableSubmit()">Appliquer</button>
    <button type="button" class="btn btn-sm btn-link mr-3" (click)="ngOnInit()">Réinitialiser</button>
</div>
