<div class="card mb-2">
    <div class="d-flex">
        <div class="col-lg-4 p-0 scrollable-75 scroll-11">
            <app-logistique-materiel-sidebar (selectedMateriel)="onSetMaterielID($event)"></app-logistique-materiel-sidebar>
        </div>
        <div class="col-lg-8 p-0 border-0">
            <div class="grid-container scrollable-y-75 scroll-11">
                <div class="sidebarlist" [class.sidebar_small]="selectedBesoin">
                    <div class="row row-xs mg-0 pd-0 bg-light p-0">
                        <div class="col-lg-4 d-flex">
                            <div>
                                <button [disabled]="(dataHelper.loading$ | async)" (click)="onShowCreateForm();" class="btn btn-oblong btn-primary bd-0 btn-icon mx-2 mg-t-5 mg-b-5">
                            <i class="fal fa-plus-circle tx-14" ></i>
                          </button>
                            </div>
                            <div class="form-group mg-t-5 mg-b-5 ">
                                <input type="text" class="form-control form-control-sm" name="term" placeholder="recherche" [(ngModel)]="dataHelper.searchTerm" required aria-label="Batiment" aria-describedby="basic-addon2">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <ul class="nav float-right list-inline justify-content-end">
                                <li class="nav-item"><a class="nav-link px-1" href="#"><i class="fal fa-globe bg-white tx-danger tx-14" style="padding:6px; border-radius: 50%; "></i> </a></li>
                                <li class="nav-item"><a class="nav-link px-1" href="#"><i class="fal fa-flag-alt bg-white tx-success-100 tx-14" style="padding:6px; border-radius: 50%; "></i> </a></li>
                                <li class="nav-item"><a class="nav-link px-1" href="#"><i class="fal fa-chair-office bg-white tx-warning tx-14" style="padding:6px; border-radius: 50%; "></i> </a></li>
                                <li class="nav-item"><a class="nav-link px-1" href="#"><i class="fal fa-people-carry bg-white tx-primary tx-14" style="padding:6px; border-radius: 50%; "></i> </a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul class="nav float-right list-inline justify-content-end">
                                <li class="nav-item"><a class="nav-link px-1" href="#"><i class="fad fa-circle bg-light tx-gray-600 tx-12" style="padding:6px; border-radius: 50%; "></i> <span class="tx-gray-600 tx-14">Ajustement</span></a></li>
                                <li class="nav-item"><a class="nav-link px-1" href="#"><i class="fad fa-circle bg-light tx-gray-600 tx-12" style="padding:6px; border-radius: 50%; "></i> <span class="tx-gray-600 tx-14">Affectés</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table  table-hover table-sm mb-0 " [class.loading]="dataHelper.loading$ | async">
                            <tbody>
                                <tr class="barder-0">
                                    <th class="tx-orange tx-left tx-16 bg-jaunelight bd-b">Matériel</th>
                                    <th class="tx-yeto2 tx-center tx-16 bg-bluelight">Niveau d'urgence</th>
                                    <th class="tx-yeto2 tx-center tx-16 bg-bluelight">Quantité demandé</th>
                                    <th class="tx-yeto2 tx-center tx-16 bg-bluelight">Quantité reçus</th>
                                    <th class="tx-yeto2 tx-center tx-16 bg-bluelight">Quantité restant</th>
                                    <th class="tx-orange tx-center p-3 tx-16"> </th>
                                </tr>
                                <ng-container *ngIf="dataHelper.data$ | async as items">
                                    <ng-container *ngIf="items.length; else noItem">
                                        <ng-container *ngFor="let besoin of items;trackBy: dataHelper.trackByFn">
                                            <tr class=" bd-b">
                                                <td class=" ">
                                                    <div>
                                                        <p class="mg-0 tx-gray-600 tx-bolder"> {{besoin.materiel.libelle | titlecase}}</p>
                                                    </div>
                                                </td>
                                                <td class="bg-light">
                                                    <span class=" tx-yeto3 tx-14 ">
                                                {{besoin.niveau.libelle}}
                                              </span>
                                                </td>
                                                <td class=" tx-center text-danger">
                                                    {{besoin.quantite}}
                                                </td>
                                                <td class="tx-center bg-white text-success bd-r bd-white">
                                                    {{besoin.quantite_recu}}
                                                </td>
                                                <td class="tx-center bg-white tx-yeto2 bd-r bd-white">
                                                    {{besoin.quantite - besoin.quantite_recu}}
                                                </td>
                                                <td class=" tx-center ">
                                                    <button class="btn btn-sm btn-link" (click)="onSetSelected(besoin)"><i class="fad fa-info-circle tx-14 bg-gray tx-warning " style="padding:6px; border-radius:50%"></i></button>
                                                    <button class="btn btn-sm btn-link  tx-gray-600 mx-1 tx-13" (click)="onShowUpdateForm(besoin)"> <i class="fal fa-edit" ></i> </button>
                                                    <button class="btn btn-sm btn-link btn-link-danger tx-gray-600 tx-13" (click)="onDelete(besoin)"> <i class="fal fa-trash-alt" ></i></button>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="main-content scroll-11" [class.main-content_large]="selectedBesoin">
                    <ng-container *ngIf="selectedBesoin">
                        <div class="d-flex border-bottom sticky-top bg-white">
                            <button class="btn btn-sm btn-link" (click)="onSetSelected()">
                        <i class="fal fa-2x fa-arrow-circle-left"></i>
                      </button>
                            <span class="flex-1 tx-facebook tx-24">{{selectedBesoin.materiel.libelle | titlecase}}: {{selectedBesoin.libelle}}</span>
                            <button [disabled]="(dataHelper.loading$ | async)" (click)="onShowCreateAffectationForm();" class="btn btn-sm  btn-primary card-1 bd-0 btn-icon mx-2 mg-t-5 mg-b-5">
                        Ajouter <i class="fal fa-plus-square" ></i>
                      </button>
                        </div>
                        <div class="table-responsive" [class.loading]="besoinPersonneHelper.loading$ | async">
                            <table class="table  table-hover table-sm mb-0 ">
                                <tbody>
                                    <tr class=" mg-b-20">
                                        <th class="tx-yeto2 tx-16 bg-greenlight"> Affectés à</th>
                                        <th class="tx-yeto2  tx-16 bg-greenlight bd-r bd-white">Date de traitement</th>
                                        <th class="tx-yeto2  tx-16 bg-bluelight">Date reception</th>
                                        <th class="tx-yeto2  tx-16 bg-bluelight">Quantite</th>
                                        <th class="tx-orange tx-center tx-16"></th>
                                    </tr>
                                    <ng-container *ngIf="besoinPersonneHelper.data$ | async as items">
                                        <ng-container *ngIf="items.length; else noItem">
                                            <tr *ngFor="let affectation of items;trackBy: besoinPersonneHelper.trackByFn">
                                                <td class=" tx-center ">
                                                    <div class="d-flex flex-row  mg-t-6">
                                                        <div class="profiles">
                                                            <img class="rounded-circle" src="assets/images/avatar-placeholder.png" alt="avatar" width="30">
                                                        </div>
                                                        {{affectation.user.libelle}}
                                                    </div>
                                                </td>
                                                <td class=" bd-b bg-light">
                                                    <span class=" tx-danger tx-14"> {{affectation.date_traite | date: 'dd/MM/yyyy'}} </span>
                                                </td>
                                                <td class=" bd-b bg-light">
                                                    <span class=" tx-success-100 tx-14"> {{affectation.date_reception | date: 'dd/MM/yyyy'}} </span>
                                                </td>
                                                <td class=" bd-b bg-light">
                                                    <span class=" tx-14"> {{affectation.quantite}} </span>
                                                </td>
                                                <td class=" tx-center ">
                                                    <button class="btn btn-sm btn-link  tx-gray-600 tx-13" (click)="onShowUpdateAffectationForm(affectation)"> <i class="fal fa-edit" ></i> </button>
                                                    <button class="btn btn-sm btn-link btn-link-danger tx-gray-600 tx-13" (click)="onDeleteAffectation(affectation)"> <i class="fal fa-trash-alt" ></i></button>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>


                                </tbody>
                            </table>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #noItem>
    <tr>
        <td colspan="6">
            <h5 class="text-center title m-2 p-5" *ngIf="!(dataHelper.loading$ | async)">
                {{ 'Aucun Element' }}
            </h5>
        </td>
    </tr>
</ng-template>