<div class="modal-header">
    <h4 class="modal-title title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCloseModal('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<ng-container *ngIf="editForm">
    <div class="modal-body" [ngClass]="{'loading': isLoading}">
        <form class="custom-placeholder" [formGroup]="editForm">
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <input type="text" class="form-control" required [formControlName]="'libelle'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'libelle'), 'is-valid': isValid('libelle')}" name="libelle" required>
                    <span class="custom-span">libelle</span>
                    <div *ngIf="shouldShowRequiredError('libelle')" class="invalid-feedback">veillez saisir la désignation.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0  pt-3" *ngIf="!proprietaire">
                <div class="col-10">
                    <select class="custom-select" mySelectFirstOption required name="preteur" [formControlName]="'proprietaire_id'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'proprietaire_id'), 'is-valid': isValid('proprietaire_id')}" required>
                        <ng-container *ngFor="let item of (allInscriptions$ | async)">
                            <option [ngValue]="item.user?.id">{{item.user?.libelle}} ({{item.user?.idcam}})</option>
                        </ng-container>
                    </select>
                    <span class="custom-span">Proprietaire</span>
                    <div *ngIf="shouldShowRequiredError('proprietaire_id')" class="invalid-feedback">veillez choisir le proprietaire.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <select class="custom-select" mySelectFirstOption required name="pageSize" [formControlName]="'type_permis_id'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'type_permis_id'), 'is-valid': isValid('type_permis_id')}" required>
                    <ng-container *ngFor="let item of (allTypePermis$ | async)">
                        <option [ngValue]="item.id">{{item.libelle}}</option>
                    </ng-container>
                </select>
                    <span class="custom-span">Permis</span>
                    <div *ngIf="shouldShowRequiredError('type_permis_id')" class="invalid-feedback">veillez choisir le type.</div>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <input class="form-control" name="dp" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker" [formControlName]="'date_obtention'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'date_obtention'), 'is-valid': isValid('date_obtention')}" required>
                    <span class="custom-span" i18n>date d'obtention</span>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-10">
                    <textarea name="remarque" required maxlength="200" class="form-control" cols="30" rows="5" [formControlName]="'remarque'" [ngClass]="{'is-invalid': shouldShowRequiredError( 'remarque'), 'is-valid': isValid('remarque')}"></textarea>
                    <span class="custom-span">remarque</span>
                    <small>{{editForm[i].get('remarque').value?.length}}/500</small>
                    <div *ngIf="shouldShowRequiredError('remarque')" class="invalid-feedback">veillez saisir la remarque.</div>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary mr-3" (click)="onSubmit()" [disabled]="shouldDisableSubmit()">Enregistrer et Quitter</button>
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="onSubmit(false)" [disabled]="shouldDisableSubmit()">Appliquer</button>
        <button type="button" class="btn btn-sm btn-link mr-3" (click)="ngOnInit()">réinitialiser</button>
    </div>
</ng-container>