<div class="modal-header bg-light  p-1">
    <h5 class="modal-title title">{{title}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="onCloseModal('Cross click')">
    <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body p-0 " [class.loading]="isLoading">
    <div *ngIf="items && items.length; else noItem">
        <table class="table m-0">
            <tbody>
                <tr class="cursor-pointer" *ngFor="let item of items;" (click)="onChooseItem(item)">
                    <td class="choose-title" *ngIf="imageCol">
                        <img style="width: 60px;" src="{{item[imageCol]}}" alt="image for item">
                    </td>
                    <td class="choose-title align-middle">
                        {{item.libelle | shorten:30}}
                        <i *ngIf="!userCanSelect(item)" class="fal fa-check float-right"></i>
                    </td>

                    <td class="choose-title" *ngFor="let col of otherCols">
                        {{col.value[1] ? item[col.value[0]][col.value[1]] : item[col.value[0]] }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer p-0">
    <button type="button" class="btn btn-sm btn-outline-primary" *ngIf="createModal" (click)="onShowCreateForm()">Ajouter</button>
    <button type="button" class="btn btn-sm btn-outline-primary" (click)="activeModal.close('Close click')">Fermer</button>
</div>

<ng-template #noItem>
    <h5 class="text-center title m-2 p-5">
        {{ 'Aucun Element' }}
    </h5>
</ng-template>
