<div class="d-flex flex-xs justify-content-between bd-t">
    <div class=" col-lg-4 bd-r bd-2 " style="background:#FFFF; height:100vh ">
        <div class="row  justify-content-between  bg-light pt-2 bd-b">
            <div class="col-lg-12">
                <h6 class="tx-echos"><i class="fas fa-layer-group" style="padding:6px; border-radius: 50%; "></i> Groupes principaux</h6>
            </div>
        </div>

        <div class="card-body p-0 ">
            <app-coordonnee-groupe-hierarchie-edit (onSelectItem)="onNavigate($event)" [filter]="[]"></app-coordonnee-groupe-hierarchie-edit>

            <!-- <div class="row row-xs bd-b mg-0 pd-0 clearfix">

                <div class="col-lg-8">
                    <div class="input-group ">
                        <input type="text" class="form-control  border-0 " placeholder="Recherches..."  [(ngModel)]="dataHelper.searchTerm">
                    </div>
                </div>

                <div class="col-lg-4 ">
                    <ul class="nav float-right list-inline justify-content-end">

                      <li class="nav-item">
                          <button class="btn btn-link" [disabled]="(dataHelper.loading$ | async)" (click)="onShowCreateForm();">
                              <span class="tx-echos">
                                  <i class="fal fa-plus-circle bg-yeto tx-16 tx-white card-1"
                                      style="padding:6px; border-radius:50%"></i>
                              </span>
                          </button>
                      </li>
                    </ul>
                </div>

            </div>
            <div class="d-flex align-items-center flex-wrap bd-b " [class.loading]="dataHelper.loading$ | async">
              <ng-container *ngIf="dataHelper.data$ | async as items">
                <ng-container *ngIf="items.length; else noItem">
                    <div class=" p-2 col-12" [@flyInOut]="'in'" *ngFor="let groupe of items;trackBy: dataHelper.trackByFn" [class.accent-facebook-left]="selectedGroupe && groupe.id == selectedGroupe.id" [routerLink]="['./',groupe.id]">
                      <h6 class="tx-echos tx-14 cursor-pointer"><i class="fas fa-object-group tx-18 tx-echos"></i> {{groupe.libelle | titlecase}}</h6>
                      <span class=" mr-1 tx-14 mg-b-5 tx-echos1 pl-2 ">Sous groupes</span>
                      <span class=" mr-1  mg-b-5 tx-warning ">58</span>
                      <span class=" mr-1 tx-14 mg-b-5 tx-echos1 ">Eléments</span>
                      <span class=" mr-1 mg-b-5 tx-danger ">{{groupe.nb_coordonnees}} </span>
                      <a class=" cursor-pointer float-right mx-2 tx-bold" container="body" ngbTooltip="Supprimer" (click)="$event.stopPropagation();onDelete(groupe) "> <i class="fas fa-times-square tx-echos"></i></a>
                      <a class=" cursor-pointer float-right mx-2 tx-bold" container="body" ngbTooltip="Dupliquer" (click)="$event.stopPropagation();onShowCreateForm(groupe) "> <i class="fas fa-clone tx-echos"></i></a>
                      <a class=" cursor-pointer float-right mx-2 tx-bold" container="body" ngbTooltip="Modifier" (click)="$event.stopPropagation();onShowUpdateForm(groupe) "> <i class="fas fa-edit tx-echos"></i></a>
                      <a class=" cursor-pointer float-right mx-2 tx-bold" container="body" ngbTooltip="Annuaire" (click)="$event.stopPropagation();onGroupeCoordonnee(groupe) "> <i class="fas fa-user-edit tx-echos"></i></a>
                    </div>
                </ng-container>
              </ng-container>
            </div> -->
        </div>
    </div>

    <div class="col-lg-8 ">
      <ng-container *ngIf="selectedGroupe; else chooseGroupe">
        <div class="row  justify-content-between  bg-light pt-2 bd-b">
            <div class="col-lg-12">
                <h6 class="tx-echos"><i class="fas fa-object-group" style="padding:6px; border-radius: 50%; "></i> {{selectedGroupe.libelle | titlecase}}</h6>
            </div>
        </div>
      <div class="row  justify-content-between mg-0 pd-0 bg-light bd-b pt-2 pb-2">
        <div class="col">
            <div class="input-group ">
                <input type="text" class="form-control  border-0 bg-white" placeholder="Recherches..." [(ngModel)]="coordonneeHelper.searchTerm">
            </div>
        </div>

        <div class="col">
            <ul class="nav float-right list-inline h-100  justify-content-end">
                <li class="nav-item">
                    <button class="btn btn-link" (click)="onChangeView('card')">
                    <span class="tx-echos">
                        <i class="fad fa-th card-1  tx-16"
                            [ngClass]="view == 'card' ? 'bg-echos tx-white' : 'tx-echos bg-white'"
                            style="padding:6px; border-radius:50%"></i>
                    </span>
                </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-link" (click)="onChangeView('list')">
                    <span class="tx-echos">
                        <i class="fad fa-list card-1 tx-16 "
                            [ngClass]="view == 'list' ? 'bg-echos tx-white' : 'tx-echos bg-white' "
                            style="padding:6px; border-radius:50%"></i>
                    </span>
                </button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-link" [disabled]="(coordonneeHelper.loading$ | async)" (click)="onGroupeCoordonnee(selectedGroupe);">
                    <span class="tx-echos">
                        <i class="fal fa-edit bg-yeto tx-16 tx-white card-1"
                            style="padding:6px; border-radius:50%"></i>
                    </span>
                </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body" *ngIf="view == 'card'; else listView " [class.loading]="coordonneeHelper.loading$ | async">
        <div [scrollWindow]="false" infiniteScroll  (scrolled)="checkData()" class="d-flex scrollable-y-75 justify-content-center flex-wrap  mg-l-0 mg-r-0">
            <ng-container *ngIf="coordonneeHelper.data$ | async as items">
                <ng-container *ngIf="items.length; else noItem">
                    <div class="col-xl-4 col-sm-6" [@flyInOut]="'in'" *ngFor="let coordonnee of items;trackBy: coordonneeHelper.trackByFn">
                        <div class="mycard4 card-profile-1 mb-3">
                            <a class="card-body tx-center p-0" [routerLink]="['/annuaire',coordonnee.id]">
                                <div class="mx-auto my-2 avatar-md">
                                    <div class="avatar-title bg-soft-primary text-primary display-6 m-0 rounded-circle"><i class="fas fa-3x fa-user-circle"></i></div>
                                </div>
                                <h6 class="m-0 tx-primary">{{coordonnee.libelle}}
                                </h6>
                                <p class="text-muted mb-0"><i class="fas fa-phone tx-15 align-middle pe-2 text-primary"></i> {{coordonnee.telephone}} </p>
                                <p class="text-muted mb-0"><i class="fas fa-at tx-15 align-middle pe-2 text-primary"></i> {{coordonnee.email}} </p>
                                <div class="p-2 tx-echos tx-center bg-soft-primary">
                                    <span class="badge badge-primary mx-1 card-2" *ngFor="let tag of coordonnee.tag.split(',')"> {{tag | titlecase}} </span>
                                </div>
                            </a>
                            <div class="pt-2 bg-light ">
                                <ul class="nav float-center list-inline justify-content-center">
                                    <li class="nav-item">
                                        <a class="nav-link3" container="body" ngbTooltip="Details" (click)="openModal(content, coordonnee)">
                                            <span class="tx-echos">
                                              <i class="fas fa-address-card tx-echos tx-echos  bg-white" style="padding:6px; border-radius:50%"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link3" container="body" ngbTooltip="Supprimer du groupe" (click)="onRemoveCoordonnee(coordonnee)">
                                            <span class="tx-echos">
                                              <i class="fas fa-times-square tx-echos tx-echos  bg-white" style="padding:6px; border-radius:50%"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="card">
                            <div class="card-body">
                                <div class="float-right no-caret" container="body" ngbDropdown>
                                    <button class="btn btn-oblong btn-outline-primary bd-0 btn-icon mx-2" ngbDropdownToggle role="button"><i class="fal fa-comment-alt-dots fa-lg rounded-circle"></i></button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button (click)="onShowUpdateForm(coordonnee)" ngbDropdownItem><i class="fal fa-edit tx-second"></i> Modifier</button>
                                        <button (click)="onShowCreateForm(coordonnee)" ngbDropdownItem><i class="fal fa-clone tx-second"></i> Dupliquer</button>
                                        <button (click)="onDelete(coordonnee)" ngbDropdownItem><i class="fal fa-times-square tx-second"></i> Supprimer</button>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="avatar-md">
                                        <div class="avatar-title bg-soft-primary text-primary display-6 m-0 rounded-circle"><i class="fas fa-3x fa-user-circle"></i></div>
                                    </div>
                                    <div class="flex-1 ms-3">
                                        <h5 class="tx-16 mb-1"><a href="#" class="text-dark">{{coordonnee.libelle}}</a></h5>
                                    </div>
                                </div>
                                <div class="mt-3 pt-1">
                                    <p class="text-muted mb-0"><i class="fas fa-phone tx-15 align-middle pe-2 text-primary"></i> {{coordonnee.telephone}} </p>
                                    <p class="text-muted mb-0 mt-2"><i class="fas fa-at tx-15 align-middle pe-2 text-primary"></i> {{coordonnee.email}} </p>
                                    <p class="text-muted mb-0 mt-2"><i class="fas fa-map-marked-alt tx-15 align-middle pe-2 text-primary"></i> {{coordonnee.adresse}} </p>
                                </div>
                                <div class="d-flex gap-2 pt-4">
                                    <button (click)="openModal(content, coordonnee)" type="button" class="btn btn-soft-primary btn-sm w-50"><i class="bx bx-user me-1"></i> Details</button>
                                    <a type="button" class="btn btn-primary btn-sm w-50" [routerLink]="['./',coordonnee.id]"><i class="bx bx-message-square-dots me-1"></i> Voir plus</a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>


      </ng-container>

    </div>
</div>

<ng-template #chooseGroupe>
    <div class="col-md-12 text-center mt-4">                     
        <div class="col-lg-12">
          <div style="text-align: center">
            <img class="bg-white rounded-circle monimage2" [src]="'assets/images/taches_ether.svg'" width="" />
            <p class="tx-20 mb-0 tx-echos"> Veuillez selectionner un groupe </p>
          </div>      
        </div>
     </div>
</ng-template>

<ng-template #noItem>
    <h5 class="text-center title m-2 p-5 ">
        {{ 'Aucun Element' }}
    </h5>
</ng-template>

<ng-template #content let-modal>
    <div class="modal-header bg-light  ">
        <h5 class="modal-title ">
            {{modalData.libelle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss( 'Cross click') ">
      <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body p-0">
        <ul class="list-group list-group-flush">

            <li class="list-group-item d-flex justify-content-between tx-16 flex-wrap">
                <div class="tx-yeto2"><i class="fal fa-at text-info mx-2"></i> Email </div>
                <div class=""> {{modalData.email}}</div>
            </li>
            <li class="list-group-item d-flex justify-content-between tx-16 flex-wrap">
                <div class="tx-yeto2"><i class="fal fa-phone-square-alt text-info mx-2"></i> Telephone </div>
                <div class=""> {{modalData.telephone}}</div>
            </li>
            <li class="list-group-item d-flex justify-content-between tx-16 flex-wrap">
                <div class="tx-yeto2"><i class="fal fa-map-marked-alt text-info mx-2"></i> Adresse </div>
                <div class="">
                    {{modalData.adresse}}
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between tx-16 flex-wrap">
                <div class="tx-yeto2"><i class="fal fa-tag text-info mx-2"></i> Tag </div>
                <div class="">
                    {{modalData.tag | titlecase}}
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between tx-16 flex-wrap" *ngIf="modalData.condition_suivi">
                <div class="tx-yeto2"><i class="fal fa-clipboard-check text-info mx-2"></i> Condition de suivi </div>
                <div class="">
                    {{modalData.condition_suivi}}
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between tx-16 flex-wrap" *ngIf="modalData.commentaire">
                <div class="tx-yeto2"><i class="fal fa-comments text-info mx-2"></i> Commentaire </div>
                <div class="">
                    {{modalData.commentaire}}
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer ">
        <button [routerLink]="['/annuaire',modalData.id]" (click)="modal.close( 'Close click')" class="btn btn-sm btn-primary mx-2 "> Voir plus</button>
        <button type="button " class="btn btn-sm btn-outline-primary " (click)="modal.close( 'Close click') ">Fermer</button>
    </div>
</ng-template>

<ng-template #listView>
  <div class="card px-0 card-2 card-accent-primary " [class.loading]="coordonneeHelper.loading$ | async">
      <div [scrollWindow]="false" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50 " (scrolled)="checkData()" class="card-body p-0 scrollable-y-75 scroll-11">
          <div class="table-responsive" *ngIf="coordonneeHelper.data$ | async as items">
              <table class="table table-hover text-nowrap mb-0" *ngIf="items.length; else noItem">
                  <thead class="tx-10 tx-uppercase">
                      <tr>
                          <th scope="col">Nom</th>
                          <th scope="col">Email</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let coordonnee of items;trackBy: coordonneeHelper.trackByFn">
                          <td>
                              <a class="btn btn-sm btn-link" [routerLink]="['/annuaire',coordonnee.id]">
                                {{coordonnee.libelle}}
                              </a>
                          </td>
                          <td>
                            <a class="btn btn-sm btn-link" [routerLink]="['/annuaire',coordonnee.id]">
                            {{coordonnee.email}}
                            </a>
                        </td>
                          <td>
                              <a class="table-action cursor-pointer float-right mx-2" container="body" ngbTooltip="Supprimer du groupe" (click)="onRemoveCoordonnee(coordonnee) "><i class="fal fa-times-square tx-second "></i></a>
                              <a class="table-action cursor-pointer float-right mx-2" container="body" ngbTooltip="Details" (click)="openModal(content, coordonnee)"><i class="fal fa-address-card tx-second "></i></a>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>

</ng-template>
