<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <app-sidebar></app-sidebar>
    </ul>
    <!-- End of Sidebar -->
  
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
  
      <!-- Main Content -->
      <div id="content">
  
        <!-- Topbar -->
        <app-header></app-header>
        <!-- End of Topbar -->
  
        <!-- Begin Page Content -->
        <div class="container-fluid">
  
          <!-- Page Heading -->
          <div class="row  mb-4">
            <h5 class="col-md-6 mb-0 text-gray-800">
              <i class="fas fa-fw {{icon}}"></i>
              <span> {{title}} </span>
            </h5>
  
            <div class="col-md-6 d-sm-flex align-items-center justify-content-end">
              <a routerLink="/transport/configuration" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm">
                <i class="fas fa-cog fa-sm text-primary"></i> {{'SETTING' | translate}}
              </a>
            </div>
          </div>
          <div class="row mb-4 animated slideInUp">
            <div class="col-md-12">
              <div class="d-sm-flex align-items-center justify-content-start bg-white shadow-sm pt-2 pb-2 subMenu">
                <a routerLink="/transport/mes-autos" class="d-none d-sm-inline-block mr-3 ml-3 text-secondary">
                  <i class="fas fa-car"></i> Vehicules
                </a>
                <!-- <a routerLink="/transport/mes-itineraires" class="d-none d-sm-inline-block mr-3 ml-3 text-secondary">
                  <i class="fas fa-route"></i> Itineraires
                </a> -->
                <a routerLink="/transport/mes-conducteurs" class="d-none d-sm-inline-block mr-3 ml-3 text-secondary">
                  <i class="fas fa-user-tie"></i> Conducteurs
                </a>
                <a routerLink="/transport/carte-rapido" [routerLinkActive]="'text-primary'" class="d-none d-sm-inline-block mr-3 ml-3 text-secondary">
                  <i class="fas fa-credit-card-blank"></i> Carte
                </a>
                <a routerLink="/transport/assurance" class="d-none d-sm-inline-block mr-3 ml-3 text-secondary">
                  <i class="fas fa-car-crash"></i> Assurance
                </a>
                <a routerLink="/transport/visite-technique" class="d-none d-sm-inline-block mr-3 ml-3 text-secondary">
                  <i class="fas fa-car-mechanic"></i> Visites Techniques
                </a>
                <!-- <a routerLink="/transport/mes-conducteurs" class="d-none d-sm-inline-block mr-3 ml-3 text-secondary">
                  <i class="fas fa-user-tie"></i> cartes rapido
                </a> -->
                <a routerLink="/transport/panne" class="d-none d-sm-inline-block mr-3 ml-3 text-secondary">
                  <i class="fas fa-car-garage"></i> pannes & bons
                </a>
                <a routerLink="/transport/calendrier" class="d-none d-sm-inline-block mr-3 ml-3 text-secondary">
                  <i class="fas fa-calendar"></i> Calendrier
                </a>
              </div>
            </div>
          </div>
          <router-outlet></router-outlet>
  
  
        </div>
        <!-- /.container-fluid -->
  
      </div>
      <!-- End of Main Content -->
  
      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->
  
    </div>
    <!-- End of Content Wrapper -->
  
  </div>
  <!-- End of Page Wrapper -->
  